.switch {
    margin-top: 15%;
}

@media only screen and (min-width: 1025px )and (min-width: 1200px ) {
    .switch {
        margin-top: 10%;
    }
}
@media only screen and (min-width: 1201px ) {
    .switch {
        margin-top: 6%;
    }
}
