.pages-list {
    height: 64px;
    line-height: 64px;
    font-size: 16px;
}

.icon-list {
    line-height: 64px !important;
    margin-right: 40px;
}

li:hover {
  background-color: var(--main-color);
}

li.finerio-accent-color:hover {
  background-color: var(--accent-color);
}

@media only screen and (max-width: 992px) {
    .pages-list {
        height: 56px;
        line-height: 56px;
    }
    .icon-list {
        line-height: 56px;
    }
}
