<div *ngIf="showScreen" class="container-fluid animated fadeIn">
  <div class="row marginB-0">
    <div class="col s12 center">
      <div class="card white" id="totalBudget">
        <div class="card-content">
          <div class="row borderB-o">
            <div class="col s4 valign-wrapper">
              <img src="/assets/media/img/categories/color/color_{{ budget.category.id }}.png"
                   onerror="this.src='/assets/media/img/categories/color/color_000000.svg'" alt="">
              <p class="paddingL" id="mainName">{{ categoryName }}</p>
            </div>
            <div class="col s4 center">
              <p>${{ budget.spentAmount | number:'1.2-2' }}/ <b>${{ budget.amount | number:'1.2-2' }}</b> <small>({{ percentageAmountTotal | number:'1.2-2' }}%)</small></p>
            </div>
            <div class="col s4 right-align">
              <a (click)="openDeleteModal()" class="modal-trigger btn-floating btn-small waves-effect waves-light red" data-target="deleteModal"><i class="material-icons">delete</i></a>
            </div>
            <div class="col s12 ">
              <p class="text-inside-progress">Por Ejecutar: ${{ porEjecutarAmountTotal | number:'1.2-2' }}</p>
              <div class="progress" id="totalProgressBar">
                <div class="determinate" [ngStyle]="{'width': getTotalProgressBarWidth(), 'background-color': getColorOfBar( percentageAmountTotal ) }"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row right-align marginB-0 finerio-blue">
    <div class="col s5 m7">
      <h5>{{ categoryName }}</h5>
    </div>
    <div class="col s7 m5">
      <button id="editButton" class="btn-flat white black-text right truncate">Editar<i class="material-icons right">
        edit
      </i> </button>
    </div>
  </div>
</div>
<app-back-button [ruta]="'/app/budgets'"></app-back-button>
<div class="container animated fadeIn">
  <div class="row">
    <div class="col s12">
      <ul class="collection z-depth-2">
        <li class="collection-item" *ngFor="let subBudget of subBudgets">
          <div class="row marginB-0">
            <div class="col s12">
                <div class="col s6 valign-wrapper">
                  <img [src]="getIconImage()"><p id="categoryName" class="details">{{ subBudget.name }}</p>
                </div>
                <div class="col s6 right-align" id="amounts">
                  <p class="details">${{subBudget.spentAmount | number:'1.2-2'}}/ <b>${{ subBudget.amount | number:'1.2-2'}}</b> 
                    <small>({{ getpercentage(subBudget.spentAmount, subBudget.amount) | number:'1.2-2' }}%)</small>
                  </p>
                </div>
            </div>
            <div class="col s12">
                <p class="text-inside">Por Ejecutar: {{ getPorEjecutar(subBudget) | number:'1.2-2'}}</p>
                <div class="progress" id="progressBar">
                    <div class="determinate" [ngStyle]="{'width': getWidthPercentage( subBudget ) ,'background-color': getColorOfBar(percentageBudgets)}"></div>
                </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

<!-- DELETE BUDGET MODAL -->
<div id="deleteModal" class="modal" #deleteModal>
  <div class="modal-content">
    <h5>Eliminar Presupuesto</h5>
    <p>¿Estás seguro que quieres eliminar este presupuesto?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    <a (click)="deleteButton()" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>
</div>