.maBtn {
  min-height: 55px;
  width: 55%;
  text-align: center;
  border: 1px solid black;
  border-radius: 13px;
}

.maBtn span {
  position: relative;
  bottom: 17px;
  padding-left: 15px;
}

.maBtn img {
  height: 45px;
  margin-top: 5px;
}
