<div class="center-align">
  <div mat-dialog-title>
    <h4>¿ Quieres eliminar este movimiento?</h4>
    <hr>
  </div>
  <div mat-dialog-content>
    <h6><b>Está acción no se podrá revertir</b></h6>
  </div>
  <div mat-dialog-actions>
    <div class="row center-align">
      <div class="col s12 m6">
        <button type="button" class="modal-close btn btn-flat btn-cancel" (click)="closeModal($event)" (keyup.escape)="closeModal($event)">Cancelar</button>
      </div>
      <div class="col s12 m6">
        <button type="button" class="modal-close btn btn-flat btn-delete" (keyup.enter)="deleteMovement()" (click)="deleteMovement()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
