<div class="row justify-content-center">
	<div class="col-12 col-md-8">
		<p class="text-center">Podemos ayudar a restablecer tu constraseña, sólo escribe tu correo electrónico y te mandaremos un correo con las indicaciones a seguir</p>
	</div>
	<div class="col-12 col-md-5">
		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
		    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con nadie más.</small>
		  </div>
		  <button class="btn btn-primary">Enviar</button>
		</form>
	</div>
</div>