.col.l2 {
	padding: 0;
	margin: 1px;
	width: 16.466666667%;
	height: auto;
}

.pt-10 {
	padding-top: 10px;
}

.categorySize {
	padding: 1px;
	height: 9rem;
	border-radius: 5px;
}

img.imageCategory {
	width: 40%;
	margin: 10px 0px -10px;
}

p.category-name {
	margin: 7px;
}
