.category {
  cursor: pointer;
  border-radius: 5%;
}

.category-col{
  padding:.6rem;
}

.imageCategory {
	width: 40%;
  padding: .6rem 0;
}

.category-name {
  margin: 0;
  padding-bottom: .6rem;
  font-weight: bold;
  font-size: 14px;

}

@media only screen and (min-width: 1000px ) and (max-width: 1199px) {
  .imageCategory {
    width: 30%;
  }

  .category-name {
    font-size: 11px;
  }
}

@media only screen and (min-width: 1200px ) and (max-width: 1599px) {
  .category-name {
    font-size: 12px;
  }
}
