<div [ngStyle]="{'background-color': category.color }" (click)="filterSubcategories(i)">
  <ng-container *ngIf="category.user; else elseCategorySystem">
    <img
    src="https://cdn.finerio.mx/categories/web/finerio-icon.svg"
    srcset="assets/media/img/categories/finerio-icon.svg"
    alt="{{ category.name }}" class="imageCategory">
  </ng-container>
  <ng-template #elseCategorySystem>
      <img
      src="https://cdn.finerio.mx/categories/web/{{ category.id }}.svg"
      srcset="assets/media/img/categories/{{ category.id }}.svg"
      alt="{{ category.name }}" class="imageCategory">
  </ng-template>
  <p class="category-name">{{ category.name }}</p>
</div>
