.intitutionCol {
	padding-top: 10px;
}

.imgBanks {
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 5px;
	max-height: 140px;
	max-width: 140px;
	cursor: pointer;
	background-color: white;
}

.imgBanks:hover {
	border: 0px;
}
