.datepicker {
  z-index: 2;
}

.datepicker-controls .select-month input{
  width: 100px;
}

.btn {
  margin-right: 1%;
  color: black;
  width: 90px;
}

.btn:hover {
  transition: 0.3s;
  color: var(--light-color);
}

.btn-date {
  background-color: var(--light-color);
  border: thin solid rgba(119, 136, 153, 1);
}

.btn-date:hover {
  border-color: var(--main-color);
  background-color: var(--main-color);
}

.btn-date.active {
  border-color: var(--main-color);
  background-color: var(--main-color);
}

.active {
  color: var(--light-color);
}
