<div class="loginContainer">
    <h4 class="center">Iniciar Sesión</h4>
    <div class="row">
        <div class="col s12 m5">
            <div class="formContainer">
                <form method="post">
                    <mz-input-container>
                        <input mz-input [label]="'Correo Electrónico'" [validate]="true" [dataError]="'Correo invalido. Ej: contacto@finerio.mx'" [dataSuccess]="'Correo Valido'" id="email-input" type="email">
                    </mz-input-container>
                    <mz-input-container>
                        <input mz-input [label]="'Contraseña'" [validate]="true" [dataError]="'Ingresa tu Contraseña'" [dataSuccess]="'Valido'" id="password-input" type="password">
                    </mz-input-container>
                    <button mz-button class="finerio-blue white-text">Entrar</button>
                </form>
            </div>
        </div>
        <div class="col m12 hide-on-small-only divider"></div>
        <div class="col s12 m5">

        </div>
    </div>
</div>