.btn {
  margin-bottom: 10%;
}

.formContainer {
  margin-left: 10%;
}

.red-opacity-08 {
  background-color: rgba(229, 57, 53, 0.7)
}

.card {
  margin: 1rem 0;
}

#finerio-logo {
  width: 30%;
}

#rowForm {
  margin: 3% 0;
}

#registerResponsive {
  margin-top: 4%;
}

@media only screen and (max-width: 1199px) {
  .formContainer {
    margin-left: 0;
  }
}
