<div class="col s3 m2">
    <app-cuenta [account]="account"></app-cuenta>
</div>
<div class="col s6 hide-on-large-only">
    <app-description [description]="description"></app-description>
    <app-category [bckgrndColor]="bckgrndColor" [frgrndColor]="frgrndColor" [categoryName]="categoryName"></app-category>
</div>
<div class="hide-on-med-and-down">
    <div class="col m3">
        <app-description [description]="description"></app-description>
    </div>
    <div class="col m3">
        <app-category [bckgrndColor]="bckgrndColor" [frgrndColor]="frgrndColor" [categoryName]="categoryName"></app-category>
    </div>
</div>
<div class="col s3 m2" [ngClass]="{'green-text': type === 'DEPOSIT', 'red-text': type === 'CHARGE'}">
    <div class="valign-wrapper">
        <app-monto [amount]="amount"></app-monto>
    </div>
</div>
<div class="col s3 m2 hide-on-small-only">
    <app-considerar></app-considerar>
</div>