#expensesPieChart {
	margin-bottom: 30px;
}

.row {
	margin-bottom: 0px;
}

#barChartRow {
	border-bottom: 1px solid lightgray;
}

#pieContainer {
	display: grid;
	text-align: -webkit-center;
	text-align: center;
	position: relative;
}

#pieContainer h5 {
	margin-top: 0px;
}

.mainRow {
	padding-top: 40px;
}

.collection {
	overflow: inherit;
	margin-top: 0px;
	background-color: white;
}

.collection-item {
	background-color: inherit;
	cursor: pointer;
	max-height: 40px;
	padding: 5px 20px;
}

.btn {
	margin-top: 15px;
}

.pt {
	padding-top: 5px;
}

.svgFinerioIcon {
	fill: "#AAAAAA";
}
