<div class="row">
  <div class="col colTabs s12">
    <ul class="tabs" #tabs>
      <li routerLinkActive="active" class="tab col s3">
        <a href="#incomes">Ingresos</a>
      </li>
      <li routerLinkActive="active" class="tab col s3">
        <a class="active" href="#expenses">Gasto</a>
      </li>
      <li routerLinkActive="active" class="tab col s3">
        <a href="#balance">Balance</a>
      </li>
      <li routerLinkActive="active" class="tab col s3 disabled">
        <a href="diagnostic">Diagnóstico</a>
      </li>
    </ul>
  </div>
</div>