<div class="row">
  <div class="col colTabs s12">
    <ul class="tabs" #tabs>
      <li routerLinkActive="active" class="tab col s3">
        <a routerLink="incomes">Ingresos</a>
      </li>
      <li routerLinkActive="active" class="tab col s3">
        <a class="active" routerLink="expenses">Gasto</a>
      </li>
      <li class="tab col s3">
        <a routerLinkActive="active" routerLink="balance">Balance</a>
      </li>
      <li routerLinkActive="active" class="tab col s3 disabled">
        <a routerLink="diagnostic">Diagnóstico</a>
      </li>
    </ul>
  </div>
</div>