<div class="row center-align">
  <!-- Image Start -->
  <div class="col m1">
    <img [src]="movement.account.type.includes('ma_') ? manualAccountImgSrc : traditionalImgSrc" (error)="onErrorFunc( movement.account.type )"
         alt="{{movement.account.institution.code}}" class="imgMovement" />
  </div>
  <!-- Image End -->

  <!-- Date Start -->
  <div class="col m1">
    <h6>{{ movement.customDate | date:'dd-MMM' }}</h6>
  </div>
  <!-- Date End -->

  <!-- Description Start-->
  <div class="col m3 left-align">
    <h6 class="truncate description">{{ movement.customDescription | uppercase }}</h6>
  </div>
  <!-- Description End-->

  <!-- Category Start -->
  <div class="col m3 category-container">
    <app-concept-type-movement [concepts]="movement.concepts"></app-concept-type-movement>
  </div>
  <!-- Category End-->

  <!-- Amount start -->
  <div class="col m2 right-align">
    <h6 [ngClass]=" { 'deposit': movement.type === 'DEPOSIT', 'charge': movement.type !== 'DEPOSIT' }">
      {{ movement.amount | currency:'USD':'symbol-narrow':'0.2' }}
    </h6>
  </div>
  <!-- Amount End -->

  <!-- Consider start -->
  <div class="col m2">
    <div class="switch">
      <label>
        Si
        <input type="checkbox" (change)="updateMovement(movement)" [checked]="movement.duplicated"/>
        <span class="lever"></span>
        No
      </label>
    </div>
  </div>
  <!-- Consider end -->
</div>
