.row{
    padding-top: 15px;
}

#pieContainer{
    display: grid;
    text-align: -webkit-center;
    position: relative;
}

#pieContainer h5{
    margin-top: 0px;
}

td{
    padding: 5px 0 5px 0;
}

.row{
    position: relative;
}

.paddAlign{
    padding-top: 9px;
}

#text-right{
    text-align: right;
}

#text-left{
    text-align: left;
}