<!-- Tabs for dashboard -->
<app-tabs (tabClicked)="tabClicked($event)"></app-tabs>

<div class="container-fluid">
    <div class="row">
        <div *ngIf="!dataReady" class="col s12 center pt-20">
            <small><b>Obteniendo información...</b></small><br><br>
            <app-spinner></app-spinner>
        </div>
        <div class="col s12" id="childComponentsCol">
            <!-- Reference for ids on app-tabs -->
            <app-incomes *ngIf="tabSelected == 0 && dataReady"
            id="incomes">
            </app-incomes>

            <app-expenses *ngIf="tabSelected == 1 && dataReady"
            id="expenses">
            </app-expenses>

            <app-balance *ngIf="tabSelected == 2 && dataReady"
            id="balance">
            </app-balance>
            <!-- <app-diagnostic id="diagnostic"></app-diagnostic> -->
        </div>
    </div> 
</div>
        