<!-- Tabs for dashboard -->
<app-tabs (tabClicked)="tabClicked($event)"></app-tabs>

<div class="container-fluid">
    <div class="row">
        <div class="col s12 center">
            <app-spinner *ngIf="!dataReady"></app-spinner>
        </div>
        <div class="col s12">
            <!-- Reference for ids on app-tabs -->
            <app-incomes *ngIf="dataReady && tabSelected == 0"
            id="incomes">
            </app-incomes>

            <app-expenses *ngIf="dataReady && tabSelected == 1"
            id="expenses">
            </app-expenses>

            <app-balance *ngIf="dataReady && tabSelected == 2"
            id="balance">
            </app-balance>
            <!-- <app-diagnostic id="diagnostic"></app-diagnostic> -->
        </div>
    </div> 
</div>
        