.marginBottom-0 {
	margin-bottom: 0px;
}

#categorySelection h4 {
	margin-top: 0px !important;
}

.py-10 {
	padding-bottom: 15px;
	padding-top: 10px;
}

.divContainer {
	padding: 5px 5px;
}

.categoryButton {
	height: auto;
	font-size: 0.8vw;
	position: relative;
	width: 100%;
	min-height: 100px;
	line-height: 15px !important;
}

.categoryButton img {
	width: 45px;
	height: 45px;
	padding-bottom: 5px;
}

.content {
	padding-top: 15px;
}
