<app-back-button></app-back-button>
<div class="container animated fadeIn" id="categorySelection">
  <div class="row">
    <div class="col s12 center">
      <h4>Selecciona una categoría</h4>
    </div>
  </div>
  <div class="row" *ngIf="showSpinner">
      <div class="col s12 center">
        <app-loading></app-loading>
      </div>
    </div>
  <div class="row">
    <div class="col s4 m3 l3 divContainer" *ngFor="let category of categoriesList">
      <button (click)="selectCategory(category)" [routerLink]="['/app/budgets/shared-budget', 'new']"
            class="btn categoryButton" [ngStyle]="{'color':category.textColor, 'background-color':category.color}">
        <img *ngIf="!category.userId" 
            src="https://cdn.finerio.mx/categories/web/{{ category.id }}.svg"
            onerror="this.src='/assets/media/img/categories/icon.svg'" alt="Category Name">
        <img *ngIf="category.userId" 
            src="/assets/media/img/categories/userCategory.svg" alt="Category Name">

           <br>
          {{ category.name }}
      </button>
    </div>
  </div>
</div>
