<div class="container animated fadeIn pt-10">
  <div *ngIf="categoriesList.length == 0" class="row">
    <div class="col s12 center">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div class="row">
    <div class="col s4 m3 l3 divContainer" *ngFor="let category of systemCategories">
      <button (click)="selectCategory(category)"
            class="btn categoryButton" [ngStyle]="{'color':category.textColor, 'background-color':category.color}">
        <img src="https://cdn.finerio.mx/categories/web/{{ category.id }}.svg"
            onerror="this.src='/assets/media/img/categories/finerio-icon.svg'" alt="Category Name"><br>
          <span>{{ category.name }}</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h5>Mis Categorías</h5>
    </div>
    <div class="col s4 m3 l3 divContainer" *ngFor="let category of userCategories">
      <button (click)="selectCategory(category)"
            class="btn categoryButton" [ngStyle]="{'color':category.textColor, 'background-color':category.color}">
        <img src="/assets/media/img/categories/userCategory.svg" alt="Category Name"><br>
          <span>{{ category.name }}</span>
      </button>
    </div>
    <div class="col s4 m3 l3 divContainer">
      <button [routerLink]="['/app/categories/workshop', 'new']" class="btn newCategoryButton">
          <i class="material-icons">add</i><br>
          <span>Crear Categoría</span>
      </button>
    </div>
  </div>
</div>
