<div class="btn-type">
  <button class="btn btn-flat btn-small btn-charge"
      type="button"
      (click)="tipoIngresoGasto('CHARGE')"
      [ngClass]="{ 'active': type === 'CHARGE'}"
      (keyup.enter)="keyEnterPressed.emit($event.isTrusted)"
      #charge>Gasto</button>
  <button class="btn btn-flat btn-small btn-deposit"
      type="button"
      (click)="tipoIngresoGasto('DEPOSIT')"
      [ngClass]="{ 'active': type === 'DEPOSIT' }"
      (keyup.enter)="keyEnterPressed.emit($event.isTrusted)"
      #deposit>Ingreso</button>
</div>
