<div class="container center-align">
  <img class="bank-logo" [alt]="institution.code" [src]="'assets/media/img/banks/BANREGIO.png'" />
</div>
<ul class="row center-align mb-0">
  <li *ngFor="let account of accounts">
    <app-account-syncing [account]="account"></app-account-syncing>
  </li>
</ul>
<div *ngIf="hasFinished; else gettingData">
  <app-account-data-finished (emitClick)="closeModal()"></app-account-data-finished>
</div>
<ng-template #gettingData>
  <app-bank-syncing-animation></app-bank-syncing-animation>
</ng-template>
<div class="row">
  <div class="col s12 center-align">
    <a (click)="closeModal()">
      <small class="text-helper">Salir y continuar sincronizando en segundo plano</small>
    </a>
  </div>
</div>
