<!--div *ngIf="!fields.length > 0" class="container">
  <div class="row">
    <div class="col s12 center">
        <app-spinner></app-spinner>
    </div>
  </div>
</div>-->
<app-back-button [ruta]="'/app/credentials'"></app-back-button>
<!-- Page Content -->
<div *ngIf="fields.length > 0" class="container">
  <div class="row">
    <div class="col s6 offset-s3 m4 offset-m4 center">
      <img width="100px" height="100px" src="{{ 'https://cdn.finerio.mx/banks/'+institutionDetails?.institution.code+'.png' }}" alt="Banco">
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1 m6 offset-m3 center">
      <p>Usuario: <b>{{ institutionDetails.username }}</b></p>
      <form #data="ngForm">
        <div class="input-field" *ngFor="let field of fields; let i = index">
            <input
            ngModel
            type="{{ field.type }}"
            class="{{ field.institutionId }}"
            placeholder="{{ field.friendlyName }}"
            name="{{ field.name }}"
            required>
        </div>
        <button data-target="modal1" type="button" class="btn red accionBtn modal-trigger"><i class="material-icons right">delete</i>
          Eliminar
        </button>
        <button (click)="updateCredential( institutionDetails )" class="btn green accionBtn" type="submit"><i class="material-icons right">keyboard_arrow_right</i>
            Sincronizar
        </button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="accounts.length > 0" class="container-fluid">
  <div class="row">
    <div class="col s12 center finerio-blue white-text">
      <h5>Cuentas</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <ul class="accountUl center">
        <li *ngFor="let account of accounts">
          <div class="col s6 m6"><p><b>{{ account.name }}</b><br> <span>{{ account.type }}</span> </p></div>
          <div class="col s3 m3 pt-4p" [style.color]="(account.balance >= 0) ? 'green' : 'red'">${{ account.balance | number: '1.2-2' }}</div>
          <div class="col s3 m3 pt-4p">
            <i  data-target="modal2" class="material-icons modal-trigger" (click)="deleteAccountConfirmed( account )">
                delete
            </i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- DELETE CREDENTIAL'S MODAL -->
<div id="modal1" class="modal" #modal>
  <div class="modal-content">
    <h5>Eliminar Credencial</h5>
    <p>¿Estás seguro que quieres eliminar la credecial?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    <a (click)="deleteCredential()" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>
</div>