.background{
    background-color: #1D3865;
}

.accionBtn{
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}

.pt-30{
    padding-top: 30px;
}

.pt-4p{
    padding-top: 4%;
}

.btn{
    width: 150px;
    font-size: 12px;
    margin-top: 5px;
}

.accountUl li{
    min-height: 70px;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid gray;
}

.accountUl li i{
    cursor: pointer;
}