<div class="row row-item-detail">
  <div class="col m6">
    <!-- Diseño para movimientos en efectivo-->
    <ng-container *ngIf="movement.account.name === 'Efectivo'; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      <app-type (keyEnterPressed)="keyEnter=$event" [type]="movement.type" (valueType)="movement.type=$event"></app-type>
    </ng-template>
    <ng-template #elseTemplate>
      <div class="card-panel z-depth-0">
        <div class="row card-row">
          <div class="col s2">
            <p class="card-text">Fecha Original: </p>
          </div>
          <div class="col s2">
            <p class="card-text">{{ movement.date | date:'mediumDate' }}</p>
          </div>
          <div class="col s3">
            <p class="card-text">Descripción Original: </p>
          </div>
          <div class="col s5 left-align">
            <p class="truncate card-text">{{ movement.description }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- Diseño para editar movimientos -->
  <div class="col m6">
    <ng-template [ngIf]="movement.editAvailable === true">
      <app-save-movement [keyEnter]="keyEnter" [movement]="movement" (status)="status.emit($event)" (keyEnterPressed)="keyEnterPressed.emit($event)"></app-save-movement>
      <app-delete-movement (status)="statusDelete.emit($event)" [id]="movement.id"></app-delete-movement>
    </ng-template>
  </div>
</div>
