<div class="row row-item-detail valign-wrapper">
  <!-- Diseño para movimientos en efectivo-->
  <ng-container *ngIf="movement.account.institution.code === 'DINERIO'; then efectivoTemplate; else creditoTemplate"></ng-container>
  <ng-template #efectivoTemplate>
    <div class="col m4 center-align">
      <h6 id="account-name"><b>Cuenta:</b> {{ movement.account.name }}</h6>
        <ng-container *ngIf="showInBalance">
            <p><label>
                <input (change)="inBalanceChange()" type="checkbox" class="filled-in" name="inBalanceCheckBox" [(ngModel)]="inBalanceCheckBox">
                <span>No tomar en cuenta en saldos de cuentas manuales</span>
            </label></p>
        </ng-container>
    </div>
    <div class="col m3 right-align">
        <app-type (keyEnterPressed)="keyEnter=$event" [type]="movement.type" (valueType)="movement.type=$event"></app-type>
    </div>
  </ng-template>
  <ng-template #creditoTemplate>
    <div class="col m6">
      <div class="card-panel z-depth-0">
        <div class="row card-row">
          <div class="col s6 center-align">
            <b class="card-text">Fecha Original:</b>
          </div>
          <div class="col s6 pull-l1 left-align">
            <b class="card-text">Descripción Original:</b>
          </div>
          <div class="col s6 center-align">
            <p class="card-text">{{ movement.date | date:'mediumDate' }}</p>
          </div>
          <div class="col s6 pull-l1 left-align">
            <p class="card-text"> {{ movement.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Diseño para editar movimientos -->
  <div class="col m5" id="buttons-movement-action">
    <ng-template [ngIf]="movement.editAvailable === true">
      <app-save-movement [keyEnter]="keyEnter" [movement]="movement" [auxMovement]="auxMovement" (status)="status.emit($event)" (keyEnterPressed)="keyEnterPressed.emit($event)"></app-save-movement>
      <app-cancel-movement (statusCancel)="statusCancel.emit($event)"></app-cancel-movement>
      <app-delete-movement *ngIf="showDeleteButton" (status)="statusDelete.emit($event)" [id]="movement.id"></app-delete-movement>
    </ng-template>
  </div>
</div>
