<!-- Se recorren las conceptos de los movimientos -->
<ng-template ngFor [ngForOf]="concepts" [ngForTrackBy]="trackByFn" let-concept let-i="index">
  <!--
      Se valida si existe más de un concepto en cada movimiento
    -->
  <ng-container *ngIf="concepts?.length > 1; then multicategorias; else simplecategoria"></ng-container>
  <!--
      Si el movimiento tiene más de un concepto se mandan los parametros de tipo Multicategoría.
      Esto genera un pequeño bug donde se pinta dos veces, esto se debe por los multiples conceptos.
      Entonces lo que se hace es usar la propiedad [hidden] para mostar solo la primer posición.
    -->
  <ng-template #multicategorias>
    <app-category-movement [hidden]="i > 0"
      [categoryList]="categoryList"
      [category]="multiCategory"
      [editAvailable]="false">
    </app-category-movement>
  </ng-template>

  <ng-template #simplecategoria>
    <!--
        Si solo tiene un concepto, se verifica si ese concepto tiene una categoria ss
      -->
    <ng-container *ngIf="concept.category; then conCategoria; else sinCategoria"></ng-container>
    <!--
        Si tiene una categoría se pinta con sus respectivos parametros
      -->
    <ng-template #conCategoria>
      <app-category-movement
        [categoryList]="categoryList"
        [category]="concept.category"
        [editAvailable]="editAvailable"
        (statusModal)="statusModal.emit($event)"
        (statusSubcategory)="updateConcepts($event)">
      </app-category-movement>
    </ng-template>
    <ng-template #sinCategoria>
      <!--
          Caso contrario se mandan los parametros definidos para los movimientos sin categoria
        -->
      <app-category-movement
      [categoryList]="categoryList"
      [category]="noCategory"
      [editAvailable]="editAvailable"
      (statusModal)="statusModal.emit($event)"
      (statusSubcategory)="updateConcepts($event)">
      </app-category-movement>
    </ng-template>
  </ng-template>
</ng-template>
