<app-back-button></app-back-button>
<div class="container animated fadeIn" id="categorySelection">
  <div class="row">
    <div class="col s12 center">
      <h5>Asigna montos a las Subcategorias que prefieras</h5>
    </div>
  </div>
  <div class="row">
    <div class="col m6 l4">
      <div id="backgroundContainer" [ngStyle]="{'background-color': categorySelected.color, 'height':setHeightToCol }">
        <div class="content">
          <img *ngIf="!categoryWithUserIdProperty" src="https://cdn.finerio.mx/categories/web/{{ categorySelected.id }}.svg"
          onerror="this.src='/assets/media/img/categories/icon.svg'" alt="{{ categorySelected.name }}">

          <img *ngIf="categoryWithUserIdProperty" src="/assets/media/img/categories/userCategory.svg" alt="{{ categorySelected.name }}">
          <br>
          <h5 [ngStyle]="{'color':categorySelected.textColor}">{{categorySelected.name}}</h5>
        </div>
      </div>
    </div>
    <div class="col m6 l8 z-depth-1 py-10" id="divToGetHeight">
      <form #amount="ngForm" (ngSubmit)="submit(amount)">
        <div class="row marginBottom-0 valign-wrapper" id="catRow">
          <div class="col m8 l8 center">
            <div class="subCategoryElement" [ngStyle]="{'color':categorySelected.textColor, 'background-color':categorySelected.color}">
              <span><b>{{ categorySelected.name }}</b></span>
            </div>
          </div>
          <div class="col m4 l4">
            <div class="input-field inline">
              <input 
                  [(ngModel)]="categoryInputModel"
                  (keyup)="cleanSubcatsInput(amount)"
                  id="{{categorySelected.name}}" 
                  type="number" 
                  name="{{categorySelected.name}}"
                  required>
            </div>
          </div>
        </div>
        <div class="row marginBottom-0" id="subcatDividerRow">
          <div class="col m12 center">
            <p id="subcatsTextDivisor"><b>Subcategorías</b></p>
          </div>
        </div>
        <div class="row marginBottom-0 valign-wrapper" id="subcatsRow" *ngFor="let subCategory of categorySelected.subCategories; let i = index">
          <div class="col m8 l8 center">
            <div class="subCategoryElement" [ngStyle]="{'color':subCategory.textColor, 'background-color':subCategory.color}">
              <span>{{ subCategory.name }}</span>
            </div>
          </div>
          <div class="col m4 l4">
            <div class="input-field inline">
                <input *ngIf="editModeOfTheComponent"
                  (keyup)="getTotalAmount(amount)"
                  [(ngModel)]="ngModelAux[i].value"
                  [value]=''
                  id="{{subCategory.name}}" 
                  type="number" 
                  name="{{subCategory.name}}">
              <input *ngIf="!editModeOfTheComponent"
                  (keyup)="getTotalAmount(amount)"
                  ngModel
                  [value]=''
                  id="{{subCategory.name}}" 
                  type="number" 
                  name="{{subCategory.name}}">
            </div>
          </div>
        </div>
        <div class="col s12 right-align py-10">
          <button type="submit" id="submitBtn" [disabled]="!amount.valid" class="btn finerio-main-color right-align">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="showSpinner" class="container">
  <div class="row">
    <div class="col s12 center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>
