.pt-2{
    padding-top: 2%;
}

.type{
    padding-right: 15%;
}

#statusCredentials{
    font-size: 18px;
    padding-bottom: 10px;
}

#statusCredentials .col{
    padding-top: 10px;
}

#borderB{
    border-bottom: 1px solid gray;
}

#titleRow, a, h4 {
    margin: 15px 0 15px 0;
}

#titleRow a{
    border-radius: 20px;
}

.statusIcon{
  padding-right: 10px;
}

.credentialsHeader{
    padding: 1% 0%;
    border: 1px solid #757575;
}

.collection{
    overflow: inherit;
    background-color: white;
}

.collection-item {
    background-color: inherit;
    height: 65px;
    padding: 0px 20px;
    cursor: pointer;
}

#editBtn{
    border-radius: 20px;
    font-size: 10px;
}


#institutionLogo{
    max-height: 50px;
    padding-top: 10px;
    max-width: 45px;
}

.collapsible p{
    position: relative;
    width: 50%;
    margin: 0px 0px;
}

.collapsible-body{
    padding: 1rem;
}

.collapsible-body .row {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.header{
    margin-top: 0.5rem;
    border: 1px solid #757575;
    background-color: white;
}

.header p{
    margin: 5px 5px;
}