<div *ngIf="!processCompleteForSpinner && !errorWithCredentials" class="row">
  <div class="col s12 center">
    <app-spinner></app-spinner>
  </div>
</div>
<div *ngIf="!showEmptyState && processCompleteForSpinner" class="container-fluid animated fadeIn">
  <div class="row pt-15">
    <div class="col s10 offset-s1 m4 offset-m4 l4 offset-l4">
      <ul class="collapsible" #collapsible>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>
            <p>Débito</p>
            <p class="amountBalance" [style.color]="(debitBalance >= 0) ? 'green' : 'red'"><b>${{ debitBalance | number: '1.2-2' }}</b></p>
          </div>
          <div class="collapsible-body">
            <ul>
              <li *ngFor="let debitAccount of debitAccounts">
                <div class="row valign-wrapper">
                  <div class="col s8"><b>{{ debitAccount.institution.name }}</b><br><small>{{ debitAccount.name }}</small></div>
                  <div class="col s4 amountBalance" [style.color]="(debitAccount.balance >= 0) ? 'green' : 'red'">${{ debitAccount.balance | number:'1.2-2'}}</div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">expand_more</i>
            <p>Crédito</p>
            <p class="amountBalance" [style.color]="(creditBalance >= 0) ? 'green' : 'red'"><b>${{ creditBalance | number: '1.2-2' }}</b></p>
          </div>
          <div class="collapsible-body">
            <ul>
              <li *ngFor="let creditAccount of creditAccounts">
                <div class="row valign-wrapper">
                  <div class="col s8"><b>{{ creditAccount.institution.name }}</b><br><small>{{ creditAccount.name }}</small></div>
                  <div class="col s4 amountBalance" [style.color]="(creditAccount.balance >= 0) ? 'green' : 'red'">${{ creditAccount.balance | number:'1.2-2' }}</div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">account_balance</i>
              <p>Saldo actual</p>
              <p class="amountBalance" [style.color]="(totalBalance > 0) ? 'green' : 'red'"><b>${{ totalBalance | number: '1.2-2' }}</b></p>
          </div>
          <div class="collapsible-body"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" id="titleRow">
    <div class="col s12 finerio-blue">
      <div class="col s5 m7">
          <h5 class="white-text right">Credenciales</h5>
      </div>
      <div class="col s7 m5">
          <a class="btn-flat white black-text right truncate" [routerLink]="['/app/banks']">
            <i class="material-icons right">add</i>Agregar Credencial
          </a>
      </div>
    </div>
  </div>
  <div *ngIf="loaderMessagge.length > 0" class="row">
    <div class="col s12 m8 offset-m2 center">
      <p>{{ loaderMessagge }}</p>
      <div *ngIf="!validateStatusFinished" class="finerio-orange progress">
        <div class="indeterminate orange accent-1"></div>
      </div>
    </div>
  </div>
  <div *ngIf="errorWithCredentials" class="row">
    <div class="col s12 center">
      <p>¡Ops!, parece que algo salió mal, porfavor recarga el navegador...</p>
    </div>
  </div>
  <div class="row">
    <div  *ngIf="processCompleteForSpinner" class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
      <ul class="collection z-depth-1">
        <li [routerLink]='["/app/credentials/"+credential.id]' class="valign-wrapper hoverable collection-item" *ngFor="let credential of credentials">
          <div class="col m1 hide-on-small-only valign-wrapper">
            <img id="institutionLogo" src="{{'https://cdn.finerio.mx/banks/'+credential.institution.code+'_shield.png'}}">
          </div>
          <div class="col s8 m6">
              <h6>{{ credential.institution.name }}</h6>
              <small>Actualizada: {{ credential.lastUpdated | date:'dd/MMM/yy, h:mm a'}}</small>
          </div>
          <div class="col s4 m4 center" id="iconsRow">
            <div class="secondary-content valign-wrapper">
              <i *ngIf="credential.status == 'ACTIVE'" class="statusIcon material-icons green-text">verified_user</i>
              <i *ngIf="credential.status == 'VALIDATE' || credential.status == 'TOKEN'" class="statusIcon material-icons blue-text">sync</i>
              <i *ngIf="credential.status == 'INVALID'" data-position="right"
                  class="statusIcon tooltiped material-icons orange-text" [attr.data-tooltip]="'credential.errorDescription'" >report_problem</i>
              <i class="material-icons right black-text">more_vert</i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="showEmptyState" class="emptyState">
  <app-empty-states
      [imgName]="imgName"
      [title]="title"
      [description]="description"
      [buttonText]="buttonText"
      [buttonUrl]="buttonUrl">
  </app-empty-states>
</div>

<!-- MODAL FOR BANCOMER'S TOKEN -->
<div id="interactiveFieldModal" class="modal" #modal>
  <div class="modal-content">
    <h4>Por favor, llena los siguientes datos:</h4>
    <form #token="ngForm" (ngSubmit)="interactiveSubmit(token)">
        <div class="input-field s10 m6" *ngFor="let field of interactiveFields">
          <input
          ngModel
          type="text"
          class="{{ field.field }}"
          placeholder="{{ field.field }}"
          name="{{ field.field }}" required>
        </div>
        <button type="submit" [disabled]="!token.valid" class="modal-close right btn-flat">Aceptar</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>
