<div class="container-fluid">
  <div class="row center pt-4" id="statusCredentials">
    <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
      <span class="type">Débito</span>
      <span [style.color]="(debitBalance > 0) ? 'green' : 'red'">
        <b>$ {{ debitBalance | number: '1.2-2' }}</b>
      </span>
    </div>
    <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4" id="borderB">
      <span class="type">Crédito</span>
      <span [style.color]="(creditBalance > 0) ? 'green' : 'red'">
        <b>$ {{ creditBalance | number: '1.2-2' }}</b>
      </span>
    </div>
    <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
      <span class="type">Total</span>
      <span [style.color]="(totalBalance > 0) ? 'green' : 'red'">
        <b>$ {{ totalBalance | number: '1.2-2' }}</b>
      </span>
    </div>
  </div>
  <div class="row" id="titleRow">
    <div class="col s12 finerio-blue">
      <div class="col s5 m7">
          <h5 class="white-text right">Credenciales</h5>
      </div>
      <div class="col s7 m5">
          <a class="btn-flat white black-text right truncate" [routerLink]="['/app/banks']">
            <i class="material-icons right">add</i>Agregar Credencial
          </a>
      </div>
    </div>
  </div>
  <div *ngIf="loaderMessagge.length > 0" class="row">
    <div class="col s12 m8 offset-m2 center">
      <p>{{ loaderMessagge }}</p>
      <div *ngIf="!validateStatusFinished" class="finerio-orange progress">
        <div class="indeterminate orange accent-1"></div>
      </div>
    </div>
  </div>
  <div *ngIf="!processCompleteForSpinner" class="row">
    <div class="col s12 center">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <ul id="listOfInstitutions">
        <li class="hoverable" *ngFor="let credential of credentials">
          <div class="col m2 center hide-on-small-only">
            <img id="institutionLogo" src="{{'https://cdn.finerio.mx/banks/'+credential.institution.code+'_shield.png'}}">
          </div>
          <div class="col s8 m6">
              <h6>{{ credential.institution.name }}</h6>
              <small>Actualizada: {{ credential.lastUpdated | date:'dd/MMM/yy, h:mm a'}}</small>
          </div>
          <div class="col s4 m4 center" id="iconsRow">
            <div class="secondary-content">
              <i *ngIf="credential.status == 'ACTIVE'" class="material-icons green-text">verified_user</i>
              <i *ngIf="credential.status == 'VALIDATE'" class="material-icons blue-text">sync</i>
              <i *ngIf="credential.status == 'INVALID'" data-position="right"
                  class="tooltiped material-icons orange-text" [attr.data-tooltip]="'credential.errorDescription'" >report_problem</i>

              <a class="cursor-pointer" [routerLink]='["/app/credentials/"+credential.id]'>
                  <i class="material-icons blue-color">edit</i>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- MODAL FOR BANCOMER'S TOKEN -->
<div id="interactiveFieldModal" class="modal" #modal>
  <div class="modal-content">
    <h4>Por favor, llena los siguientes datos:</h4>
    <form #token="ngForm" (ngSubmit)="interactiveSubmit(token)">
        <div class="input-field s10 m6" *ngFor="let field of interactiveFields">
          <input
          ngModel
          type="text"
          class="{{ field.field }}"
          placeholder="{{ field.field }}"
          name="{{ field.field }}" required>
        </div>
        <button type="submit" [disabled]="!token.valid" class="modal-close right btn-flat">Aceptar</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>
