.pt-15 {
	padding-top: 20px;
}

.mb-0 {
	margin-bottom: 0px;
}

#titleRow,
a,
h4 {
	margin: 15px 0 15px 0;
}

#titleRow a {
	border-radius: 20px;
}

.collection {
	overflow: inherit;
	background-color: white;
}

.header p {
	margin: 5px 5px;
}
