.pt-15 {
	padding-top: 20px;
}

.mb-0 {
	margin-bottom: 0px;
}

#titleRow,
a,
h4 {
	margin: 15px 0 15px 0;
}

#titleRow a {
	border-radius: 20px;
}

#simulateCollapsible {
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: #fff;
}

#simulateCollapsible i {
	width: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 1rem;
}

.collection {
	overflow: inherit;
	background-color: white;
}

.collapsible p {
	position: relative;
	width: 50%;
	margin: 0px 0px;
}

.amountBalance {
	text-align: right;
}

.collapsible-body {
	padding: 1rem;
}

.collapsible-body .row {
	margin-bottom: 10px;
	border-bottom: 1px solid #18537b;
}

.header p {
	margin: 5px 5px;
}
