#dashboard {
    width: 38px;
}

#movements {
    width: 34px;
}

#budget {
    width: 33px;
}

.imgCredential {
    width: 1.4em
}

.iconsTable {
    margin-top: -5em !important;
}

.finerio-logo {
    width: 7%;
    margin-top: -3px;
}

@media (min-width: 0px) and (max-width: 259px) {
    .finerio-logo {
        display: none;
    }
}

@media (min-width: 260px) and (max-width: 319px) {
    .finerio-logo {
        width: 36%;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .finerio-logo {
        width: 32%;
    }
}

@media (min-width: 375px) and (max-width: 390px) {
    .finerio-logo {
        margin-top: -1px;
        width: 30%;
    }
}

@media (min-width: 391px) and (max-width: 425px) {
    .finerio-logo {
        width: 29%;
        margin-top: -4px;
    }
}

@media (min-width: 426px) and (max-width: 470px) {
    .finerio-logo {
        width: 27%;
        margin-top: -4px;
    }
}

@media (min-width: 471px) and (max-width: 512px) {
    .finerio-logo {
        width: 25%;
        margin-top: -4px;
    }
}

@media (min-width: 513px) and (max-width: 555px) {
    .finerio-logo {
        width: 23%;
        margin-top: -4px;
    }
}

@media (min-width: 556px) and (max-width: 600px) {
    .finerio-logo {
        width: 21%;
        margin-top: -4px;
    }
}

@media (min-width: 601px) and (max-width: 620px) {
    .finerio-logo {
        width: 24%;
        margin-top: -5px;
    }
}

@media (min-width: 621px) and (max-width: 675px) {
    .finerio-logo {
        width: 22%;
        margin-top: -5px;
    }
}

@media (min-width: 676px) and (max-width: 735px) {
    .finerio-logo {
        width: 20%;
        margin-top: -5px;
    }
}

@media (min-width: 736px) and (max-width: 800px) {
    .finerio-logo {
        width: 18%;
        margin-top: -3px;
    }
}

@media (min-width: 801px) and (max-width: 900px) {
    .finerio-logo {
        width: 16%;
        margin-top: -3px;
    }
}

@media (min-width: 901px) and (max-width: 992px) {
    .finerio-logo {
        width: 14%;
        margin-top: -3px
    }
}

@media (min-width: 993px) and (max-width: 1024px) {
    .finerio-logo {
        width: 13%;
        margin-top: -3px;
    }
}

@media (min-width: 1025px) and (max-width: 1170px) {
    .finerio-logo {
        width: 13%;
        margin-top: -3px;
    }
}

@media (min-width: 1171px) and (max-width: 1272px) {
    .finerio-logo {
        width: 12%;
        margin-top: -3px;
    }
}

@media (min-width: 1273px) and (max-width: 1400px) {
    .finerio-logo {
        width: 11%;
        margin-top: -3px;
    }
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .finerio-logo {
        width: 10%;
        margin-top: -3px;
    }
}

@media (min-width: 1541px) and (max-width: 1700px) {
    .finerio-logo {
        width: 9%;
        margin-top: -3px;
    }
}