.icon-container {
    margin-right: 0px !important;
}

#container-form-login {
    margin-left: 29%;
}

hr#divider {
    margin-top: 7%;
}

#finerio_logo_login {
    width: 30%;
    margin-left: 35%;
}

#btn-google_login {
    margin-top: -10px;
    margin-left: 10px;
}

#btn-access {
    margin-bottom: 2%;
    background-color: #e0e0e0 !important;
    color: #0a1e2a !important;
    transition: .5s ease;
}

#btn-access:hover {
    background-color: #0a1e2a !important;
    color: #f5f5f5 !important;
}

.finerio-buttons-container {
    padding-bottom: 1%;
}

.btn-login {
    width: 14em;
}

.btn-facebook {
    margin-bottom: 2%;
    background-color: #4267B2 !important;
    color: #ffffff !important;
    transition: .5s ease;
}

.btn-facebook:hover {
    background-color: #ffffff !important;
    color: #4267B2 !important
}

.btn-google {
    background-color: #d32f2f !important;
    color: #ffffff !important;
    transition: .5s ease;
}

.btn-google:hover {
    background-color: #ffffff !important;
    color: #d32f2f !important;
}

.icon-facebook-blue,
.icon-facebook-white,
.icon-google-red,
.icon-google-white {
    width: 35%;
    margin-top: 7px;
}


/* Mobile from 0px tp 352px */

@media (min-width: 0px) and (max-width: 352px) {
    #container-form-login {
        margin-left: 0% !important;
    }
    .icon-container {
        margin-right: 0px !important;
    }
    #finerio_logo_login {
        width: 50%;
        margin-left: 26%;
    }
    #btn-google_login {
        margin-top: 0px;
        margin-left: 0px;
    }
}


/* Mobile from 353 px to 425px */

@media (min-width: 353px) and (max-width: 425px) {
    #container-form-login {
        margin-left: 0% !important;
    }
    .icon-container {
        margin-right: -.4em !important;
    }
    #finerio_logo_login {
        width: 50%;
        margin-left: 26%;
    }
    .finerio-buttons-container {
        padding-bottom: 5%;
    }
    #btn-google_login {
        margin-top: 0px;
        margin-left: 0px;
    }
}


/* Phablets and Tablets, from 426 px to 479 px*/

@media (min-width: 426px) and (max-width: 479px) {
    #container-form-login {
        margin-left: 0% !important;
    }
    .finerio-buttons-container {
        padding-bottom: 10%;
    }
    #finerio_logo_login {
        margin-left: 36%;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    #container-form-login {
        margin-left: 0% !important;
    }
    .finerio-buttons-container {
        padding-bottom: 10%;
    }
    #finerio_logo_login {
        margin-left: 36%;
    }
    #btn-google_login {
        margin-top: -9px;
        margin-left: 2px;
    }
}

@media (min-width: 601px) and (max-width: 734px) {
    #container-form-login {
        margin-left: 17% !important;
    }
    .finerio-buttons-container {
        padding-bottom: 10%;
    }
    #finerio_logo_login {
        margin-left: 36%;
    }
    #btn-google_login {
        margin-top: 0px;
        margin-left: 0px;
    }
}

@media (min-width: 735px) and (max-width: 768px) {
    #container-form-login {
        margin-left: 17% !important;
    }
    .finerio-buttons-container {
        padding-bottom: 10%;
    }
    #finerio_logo_login {
        margin-left: 36%;
    }
    #btn-google_login {
        margin-top: -9px;
        margin-left: 0px;
    }
}


/* Tablets, from 769px tp 960px */

@media (min-width: 769px) and (max-width: 960px) {
    #container-form-login {
        margin-left: 17% !important;
    }
    #finerio_logo_login {
        margin-left: 36%;
    }
}


/* Screen from 961 to 1024 */

@media (min-width:961px) and (max-width: 992px) {
    #container-form-login {
        margin-left: 17%;
    }
    hr#divider {
        margin-left: 10%;
    }
}

@media (min-width: 993px) and (max-width:1024px) {
    #container-form-login {
        margin-left: 25% !important;
    }
    #btn-google_login {
        margin-top: 0px;
        margin-left: 0px;
    }
}


/* Desktop from 10" to 15" */

@media (min-width: 1025px) and (max-width: 1366px) {
    #container-form-login {
        margin-left: 30.5% !important;
    }
    .icon-container {
        margin-right: 0px !important;
    }
    #finerio_logo_login {
        width: 30%;
    }
    .finerio-buttons-container {
        padding-bottom: 5%;
    }
    #btn-google_login {
        margin-top: 0px;
        margin-left: 0px;
    }
}