<app-back-button [url]="'/app/credentials'"></app-back-button>
<div *ngIf="showSpinner" class="container">
  <div class="row">
    <div class="col s12 center">
      <app-spinner class="spinnerPosition"></app-spinner>
    </div>
  </div>
</div>
<!-- Page Content -->
<div *ngIf="!showSpinner" class="container animated fadeIn">
  <div class="row">
    <div class="col s12 m10 offset-m1 center">

      <div class="card horizontal margin-b">
        <div class="card-image">
          <img *ngIf="credential.institution.status == 'ACTIVE'"
               [ngClass]="{
                 'bankImage': credential.institution.code !== 'BANREGIO',
                 'bank-oAuth': credential.institution.code === 'BANREGIO'
                 }"
               src="assets/media/img/banks/{{credential.institution.code }}.png">

          <img *ngIf="credential.institution.status != 'ACTIVE'" [ngClass]="{
                 'bankImage': credential.institution.code !== 'BANREGIO',
                 'bank-oAuth': credential.institution.code === 'BANREGIO'
                 }"
               src="assets/media/img/banks/{{credential.institution.code }}_gray.png">
        </div>
        <div class="card-stacked">
          <div class="card-content" *ngIf="credential.institution.id !== 17" >
            <span class="card-title"> <p>Usuario: <b>{{ credential.username }}</b></p></span>
            <form #data="ngForm">
              <div class="input-field" *ngFor="let field of fields; let i = index">
                <input
                  ngModel
                  type="{{ field.type }}"
                  class="{{ field.institutionId }}"
                  placeholder="{{ field.friendlyName }}"
                  name="{{ field.name }}"
                  required>
              </div>
            </form>
          </div>
          <div class="card-content" *ngIf="credential.institution.status != 'ACTIVE'">
            <p id="spanError">
              Banco fuera de funcionamiento por mantenimiento.
            </p>
          </div>
          <div class="card-action">
            <button data-target="modal1" type="button" class="btn btn-delete accionBtn modal-trigger">
              <i class="material-icons right">delete</i>
              Eliminar
            </button>

            <div *ngIf="credential.institution.code === 'BANREGIO'; else otherBank">

              <button [disabled]="credential.status === 'ACTIVE'" (click)="updateCredential( credential, data )"
                      class="btn finerio-accent-color   accionBtn"
                      type="submit"><i class="material-icons right">keyboard_arrow_right</i>
                Sincronizar
              </button>

            </div>
            <ng-template #otherBank>

              <button [disabled]="credential.institution.status === 'ACTIVE'" (click)="updateCredential( credential, data )"
                      class="btn finerio-accent-color   accionBtn"
                      type="submit"><i class="material-icons right">keyboard_arrow_right</i>
                Sincronizar
              </button>

            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="accounts && accounts.length > 0" class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col s12 center finerio-main-color white-text">
      <h5>Cuentas</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <ul class="accountUl collection z-depth-1">
        <li class="collection-item  valign-wrapper" *ngFor="let account of accounts">
          <div class="col s6 m6 center"><p><b>{{ account.name }}</b><br> <span>{{ account.type }}</span> </p></div>
          <div class="col s3 m3" [style.color]="(account.balance >= 0) ? 'green' : 'red'"><b>${{ account.balance | number: '1.2-2' }}</b></div>
          <div class="col s3 m3">
            <button class="btn btn-flat btn-delete modal-trigger" data-target="modal2" (click)="deleteAccount( account )">
              Eliminar<i class="hide-on-med-and-down material-icons right">delete</i>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- LOADER MODAL -->
<div id="modal3" class="modal" #modal3>
  <div class="modal-content center">
    <app-spinner></app-spinner>
  </div>
</div>

<!-- DELETE CREDENTIAL'S MODAL -->
<div id="modal1" class="modal" #modal>
  <div class="modal-content">
    <h5>Eliminar Credencial</h5>
    <p>¿Estás seguro que quieres eliminar la credecial?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a (click)="deleteCredential()" class="modal-close waves-effect waves-red btn-flat">Aceptar</a>
  </div>
</div>

<!-- DELETE ACCOUNT MODAL -->
<div id="modal2" class="modal" #modal2>
  <div class="modal-content">
    <h5>Eliminar Cuenta</h5>
    <p>¿Estás seguro que quieres eliminar esta cuenta?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a (click)="deleteAccountConfirmed()" class="modal-close waves-effect waves-red btn-flat">Aceptar</a>
  </div>
</div>
