.background {
	background-color: var(--navyblue-color);
}

.bankImage {
	position: relative !important;
	top: 20% !important;
	height: 50%;
	padding: 0px 50px 0px 50px;
}

.accionBtn {
	margin: 0px 10px 0px 10px;
	border-radius: 10px;
}

.pt-4p {
	padding-top: 4%;
}

.btn {
	width: 155px;
	font-size: 12px;
	margin-top: 5px;
}

.accountUl li {
	height: 70px;
}

.accountUl li i {
	cursor: pointer;
}

#spanError {
	margin-top: 20px;
	color: red;
	margin-bottom: 0;
}

.btn-delete {
  color: #c62828;
  background-color: transparent;
  transition: all .2s ease-in-out;
}

.btn-delete:hover {
  color: whitesmoke;
  background-color: #c62828;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
