.background{
    background-color: var(--navyblue-color);
}

.accionBtn{
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}

.pt-4p{
    padding-top: 4%;
}

.btn{
    width: 155px;
    font-size: 12px;
    margin-top: 5px;
}

.accountUl li{
    height: 70px;
}

.accountUl li i{
    cursor: pointer;
}

#spanError{
    margin-top: 20px;
    color: red;
    margin-bottom: 0;
}

.deleteBtn{
    border-radius: 10px;
}