.bankImage, .bank-oAuth {
  position: relative !important;
}

.bankImage {
  max-height: 150px;
  top: 20% !important;
	padding: 0 50px;
}
.bank-oAuth {
  width: 22vw !important;
  padding: 1vw 4vw;
}

.btn-flat.btn-delete {
	border: none;
	background-color: transparent;
}

.btn-flat.btn-delete:hover {
	border: none;
	background-color: var(--red-color);
}

.margin-b {
	margin-bottom: 30px;
}

.accionBtn {
	margin: 0px 10px 0px 10px;
	border-radius: 10px;
}

.pt-4p {
	padding-top: 4%;
}

.btn {
	width: 155px;
	font-size: 12px;
	margin-top: 5px;
}

.accountUl li {
	height: 70px;
}

.accountUl li i {
	cursor: pointer;
}

#spanError {
	margin-top: 20px;
	color: red;
	margin-bottom: 0;
}
