<app-back-button [ruta]="'/app/credentials'"></app-back-button>
<div class="container animated fadeIn">
  <div class="row">
      <div class="col s12 center">
        <h5>Selecciona tu banco</h5>
        <p>Para tener toda tu información financiera en un solo lugar.</p>
      </div>
  </div>
  <div *ngIf="institutions.length == 0" class="row">
    <div class="col s12 center">
      <app-spinner class="spinnerPosition"></app-spinner>
    </div>
  </div>
  <div class="row">
    <div class="col s6 m3 l2 center intitutionCol" *ngFor="let institution of institutions">
        <a (click)="institutionClick( institution )">
        <img *ngIf="institution.status == 'ACTIVE'" class="imgBanks hoverable"
        src="assets/media/img/banks/{{institution.code | lowercase}}.png">
        <img *ngIf="institution.status != 'ACTIVE'" class="imgBanks hoverable"
        src="assets/media/img/banks/{{institution.code | lowercase}}_gray.png">
        </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col s12 finerio-blue">
      <h5 class="white-text center">Colaboradores</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m4 center">
      <img width="30%" src="assets/media/img/colaborators/bbva2.png" alt="BBVA">
    </div>
    <div class="col s12 m4 center">
      <img width="50%" class="pt-30" src="assets/media/img/colaborators/sura2.png" alt="SURA">
    </div>
    <div class="col s12 m4 center">
      <img width="50%" class="pt-30" src="assets/media/img/colaborators/google2.png" alt="GOOGLE">
    </div>
  </div>
</div>

