.container {
  position: relative;
  z-index: 2;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 20%);
}

.white-opacity-8 {
  background-color: rgba(245, 245, 245, 0.8);
}

.logo-white {
  padding-top: 24px;
  max-width: 25%;
  margin: auto;
}

.background::after {
  content: "";
  position: absolute;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:  url('../../assets/media/img/background/wallpaper.jpg');;
  background-size: cover;
}

@media (max-width: 600px) {
  .card {
    margin-top: 30%;
  }
  .logo-white {
    max-width: 50%;
  }
}
