<div class="background">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <div class="card white-opacity-8">
                            <div class="card-container">
                                <div class="card-image center-align">
                                    <img src="../../assets/media/img/finerio_logo/finerio_logo.svg" alt="Finerio Logo" class="logo-white">
                                </div>
                                <div class="card-content black-text">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>