.background {
    position: relative;
    height: 100vh;
    widows: 100%;
}

.background .container {
    position: relative;
    z-index: 2;
}

.card {
    position: relative;
    margin-top: 10%;
}

.white-opacity-8 {
    background-color: rgba(255, 255, 255, 0.8);
}

.logo-white {
    max-width: 25%;
    margin: auto;
}

.background::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../assets/media/img/background/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

@media (max-width: 600px) {
    .card {
        margin-top: .5rem;
    }
    .logo-white {
        max-width: 50%;
    }
}