<div class="containerButtons">
    <div class="row">
        <div class="col s12">
            <a class="btn facebook-color valign-wrapper btn-socialMedia">
                <span class="mdi mdi-facebook-box mdi-24px left-align"></span>{{ facebookText }}
            </a>
        </div>
        <div class="col s12">
            <a class="btn google-color valign-wrapper btn-socialMedia">
                <span class="mdi mdi-google mdi-24px left-align"></span>
                <span>{{ googleText }}</span>
            </a>
        </div>
    </div>
</div>