<ul class="collapsible" #collapsible>
  <li *ngFor="let movement of movementsList; let i = index">
    <!-- Encabezado del collapsible -->
    <div class="collapsible-header valign-wrapper" [ngClass]="{'grey lighten-2': movement.duplicated}">
      <!-- Imagen de la cuenta -->
      <div class="col m1">
        <app-image [image]="movement.account.institution.code" class="input-field"></app-image>
      </div>

      <!-- Fecha del movimiento -->
      <div class="col m1 valign-wrapper customComponent">
        <app-date [date]="movement.customDate | date: 'dd - MMM'" class="input-field" (click)="collapsibleOpen(i)">
        </app-date>
      </div>

      <!-- Descripción -->
      <div class="col m3 customComponent">
        <app-description [description]="movement.customDescription | uppercase" class="input-field" (click)="collapsibleOpen(i)">
        </app-description>
      </div>

      <!-- Categoria -->
      <div class="col m3">
        <!--
              Se recorren las conceptos de los movimientos
            -->
        <div *ngFor="let concept of movement.concepts; let i = index">
          <!--
                Se valida si existe más de un concepto en cada movimiento
              -->
          <ng-container *ngIf="movement.concepts?.length > 1; then multicategorias; else simplecategoria"></ng-container>
          <!--
                Si el movimiento tiene más de un concepto se mandan los parametros de tipo Multicategoría.
                Esto genera un pequeño bug donde se pinta dos veces, esto se debe por los multiples conceptos.
                Entonces lo que se hace es usar la propiedad [hidden] para mostar solo la primer posición.
          -->
          <ng-template #multicategorias>
            <app-category [hidden]="i > 0" [bckgrndColor]="'#212121'" [categoryName]="'Multi Categorías'" [frgrndColor]="'#fafafa'" [categoryParent]="'multi'">
            </app-category>
          </ng-template>
          <ng-template #simplecategoria>
            <!--
                  Si solo tiene un concepto, se verifica si ese concepto tiene una categoria
                -->
            <ng-container *ngIf="concept.category; then conCategoria; else sinCategoria"></ng-container>
            <!-- 
                  Si tiene una categoría se pinta con sus respectivos parametros
                -->
            <ng-template #conCategoria>
              <app-category [bckgrndColor]="concept.category.color" [categoryName]="concept.category.name" [frgrndColor]="concept.category.textColor" [categoryParent]="concept.category.parent.id">
              </app-category>
            </ng-template>
            <ng-template #sinCategoria>
              <!-- 
                    Caso contrario se mandan los parametros definidos para los movimientos sin categoria
                   -->
              <app-category [bckgrndColor]="'#757575'" [categoryName]="'Sin Categoría'" [frgrndColor]="'#fafafa'" [categoryParent]="'finerio-icon'">
              </app-category>
            </ng-template>
          </ng-template>

        </div>
      </div>

      <!-- Monto del movimiento -->
      <div class="col m2">
        <div class="customComponent">
          <app-amount (click)="collapsibleOpen(i)" [amount]="movement.amount" [type]="movement.type" class="input-field">
          </app-amount>
        </div>
      </div>

      <!-- Considerar el movimiento -->
      <div class="col m2 center-align hide-on-small-and-down">
        <app-consider (click)="collapsibleOpen(i)" [consider]="movement.duplicated" class="input-field">
        </app-consider>
      </div>
    </div>
    <div class="collapsible-body" #collapsibleBody>
      <app-movement-detail
        [dateOriginal]="movement.date"
        [descriptionOriginal]="movement.description" [movement]="editMovement" [fecha]="movement.customDate" [flag]="editMovementFlag"
        [idMovement]="movement.id" [name]="movement.account.name" [type]="movement.type">
      </app-movement-detail>
    </div>
  </li>
</ul>