<div *ngIf="showSpinner" class="row">
  <div class="col s12 center">
    <app-spinner></app-spinner>
  </div>
</div>
<div class="card light-background">
  <div class="card-content">
    <div *ngIf="!success && !showSpinner" class="row">
      <div class="col s12">
        <p class="center"><b>{{ header }}</b></p>
      </div>
      <div class="row">
        <div class="col s10 offset-s1 m6 offset-m3">
          <p class="center  pt-15">{{ body }}</p>
        </div>
      </div>
      <div class="col s12 m6 offset-m3 center">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email"> Correo Electrónico</label>
            <input type="email" formControlName="email" class="form-control" id="email" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
            <p *ngIf="showErrorMessage" id="spanError">Correo electrónico inválido o no registrado en Finerio.</p>
          </div>
          <div class="col s6 offset-s3 center">
            <button type="submit" class="btn finerio-main-color waves-effect waves-blue" [disabled]="!forgotPasswordForm.valid">enviar</button>
          </div>
        </form>
      </div>
      <div class="col s12 m6 offset-m3 center">
        <a [routerLink]="['/login']" class="btn finerio-accent-outline-color waves-effect waves-blue">Regresar</a>
      </div>
    </div>

    <!-- Success process screen -->
    <div *ngIf="success" class="row">
      <div class="col s12 center">
        <img [src]="iconCheck" alt="success">
      </div>
      <div class="row">
        <div class="col s10 offset-s1 m6 offset-m3">
          <p class="center py-20">Hemos enviado un link a tu correo electrónico para reestablecer tu contraseña. Asegurate de revisar la carpeta de correo no deseado.</p>
        </div>
      </div>
      <div class="col s12 m6 offset-m3 center">
        <a [routerLink]="['/login']" class="btn waves-effect waves-blue finerio-main-color">Regresar</a>
      </div>
    </div>
  </div>
</div>
