.btn {
  margin-top: 1%;
}

.pt-15{
    padding-top: 15px;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-flat{
    margin-top: 20px;
}

#spanError{
    color: red;
    font-size: 12px;
    text-align: center;
    padding-bottom: 25px;
}
