.user-list {
    background-color: #1D3856;
}

.user-list:hover {
    background-color: #1A204E;
}

#collapsible-user {
    margin-left: 15px;
}

#finerio-logo {
    max-width: auto;
    height: 64px;
}

@media (max-width: 600px) {
    #finerio-logo {
        height: 56px;
    }
}