<!-- 
<mz-sidenav #sidenav [id]="'sidenav'" [collapseButtonId]="'btn-collapse-sidenav'" [fixed]="true" [width]="300" [backgroundClass]="'finerio-blue white-text'">

    </mz-sidenav-link>
    <mz-sidenav-link>
        <a routerLink="category" routerLinkActive="active finerio-orange" class="white-text waves-effect waves-blue pages-list">
            <i mz-icon-mdi [align]="'left'" [icon]="'label'" [size]="'48px'" [class]="'icon-list white-text'"></i>Categorías
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <a routerLink="saving" routerLinkActive="active finerio-orange" class="white-text waves-effect waves-blue pages-list">
            <i mz-icon-mdi [align]="'left'" [icon]="'cash'" [size]="'48px'" [class]="'icon-list white-text'"></i>Ahorros
        </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
        <mz-sidenav-collapsible id="sidenav-collapsible">
            <mz-sidenav-collapsible-header id="collapsible-header">
                <div class=" white-text pages-list" id="collapsible-user">
                    <i mz-icon-mdi [align]="'left'" [icon]="'face'" [size]="'48px'" [class]="'icon-list white-text'"></i>
                    <i mz-icon-mdi [align]="'right'" [icon]="'plus'" [size]="'48px'" [class]="'icon-list white-text'" id="chevron"></i>Perfil
                </div>
            </mz-sidenav-collapsible-header>
            <mz-sidenav-collapsible-content>
                <mz-sidenav-link>
                    <a class="white-text waves-effect waves-blue user-list ">Cambiar Contraseña</a>
                </mz-sidenav-link>
                <mz-sidenav-link>
                    <a class="white-text waves-effect waves-blue user-list" (click)="logout()">Cerrar Sesión</a>
                </mz-sidenav-link>
            </mz-sidenav-collapsible-content>
        </mz-sidenav-collapsible>
    </mz-sidenav-link>
</mz-sidenav> -->
<header>
    <div class="navbar-fixed">
        <nav class="finerio-blue">
            <div class="nav-wrapper container center-align">
                <img src="../../../assets/media/img/finerio_logo/finerio_white.svg" id="finerio-logo">
                <ul id="nav-mobile" class="right hide-on-large-only">
                    <li>
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<ul id="slide-out" class="sidenav sidenav-fixed finerio-blue white-text" #sidenav>
    <app-link [icon]="'chart-donut'" [route]="'Dashboard'" [nombre]="'Dashboard'"></app-link>
    <app-link [icon]="'format-list-bulleted'" [route]="'Movements'" [nombre]="'Movimientos'"></app-link>
    <app-link [icon]="'chart-bar'" [route]="'Budgets'" [nombre]="'Presupuestos'"></app-link>
    <app-link [icon]="'credit-card'" [route]="'Credentials'" [nombre]="'Cuentas Bancarias'"></app-link>
    <app-link [icon]="'label'" [route]="'Category'" [nombre]="'Categorías'"></app-link>
    <app-link [icon]="'cash'" [route]="'Saving'" [nombre]="'Ahorros'"></app-link>
</ul>