<ng-container *ngIf="editAvailable === true; else noEditable">
  <label>
    <input type="button" class="btn category-container truncate" [ngModel]="category.name" (click)="openDialog($event)"
           [ngStyle]="{'background-color': category.color, 'color': category.textColor}"/>
  </label>
</ng-container>
<ng-template #noEditable>
  <div class="left-align">
    <button type="button" class="btn category-container truncate" [ngStyle]="{'background-color': category.color, 'color': category.textColor}">
      <i class="mdi mdi-24px left">
        <ng-container *ngIf="category.user || category.userId ; else noCategoryUser">
            <img
            (click)="setCategory(category)"
            src="assets/media/img/categories/userCategory.svg"
            srcset="assets/media/img/categories/userCategory.svg"
            [attr.alt]="category.name"
            class="responsive-img sizeIcon">
          </ng-container>
          <ng-template #noCategoryUser>
            <img
            (click)="setCategory(category)"
            src="https://cdn.finerio.mx/categories/web/{{ (category.parent) ? category.parent.id : category.id }}.svg"
            srcset="assets/media/img/categories/{{ (category.parent) ? category.parent.id : category.id }}.svg"
            [attr.alt]="category.name"
            class="responsive-img sizeIcon">
          </ng-template>
        </i>
        <p class="category-name truncate left-align">{{ category.name }}</p>
      </button>
  </div>
</ng-template>
