<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
		    <img src="assets/media/img/finerio_logo/finerio_logo.png" class="img-fluid" id="finerio-img">
		    <h1>Ingresa con:</h1>
		    <div class="contaier-buttons">
	    		<a href="" class="btn btn-lg btn-secondary btn-facebook" type="btn">
	    			<i class="material-icons">
	    				<img src="assets/media/img/social_media/facebook-white.png" alt="" class="icon-social-media icon-facebook-white">
	    				<img src="assets/media/img/social_media/facebook-blue.png" alt="" class="icon-social-media icon-facebook-blue d-none">
	    			</i>
	    			Facebook
	    		</a>
	    		<a href="" class="btn btn-lg btn-primary btn-google-plus" type="btn">
	    			<i class="material-icons">
	    				<img src="assets/media/img/social_media/google-plus-white.png" alt="" class="icon-social-media icon-google-plus-white">
	    				<img src="assets/media/img/social_media/google-plus-red.png" alt="" class="icon-social-media icon-google-plus-red d-none">
	    			</i>
	    			Google
	    		</a>
		    </div>
		</div>
	</div>
</div>
