h3, h5, h4 {
  margin: 0;
  padding: 0;
}

.title {
  margin: 32px auto;
}

.img-container {
  margin: 32px auto 0;
}

.row {
  margin-bottom: 0;
}

.card, .card-content {
  border-radius: 20px;
  padding: 8px;
  width: calc(16px*20);
  margin: 0 calc(calc(100% - calc(16px*20))/2);
}

.box-container-info {
  margin: calc(16px*4) calc(16px*13);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 40px solid  var(--main-color);
  position: absolute;
  z-index: 2;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 40px solid var(--main-color);
  position: absolute;
  z-index: 2;
  margin-left: calc(16px*29.5);
}

#main-box-info {
  position: absolute;
  width: calc(16px*32);
  height: calc(16px*6);
  padding: 20px 0;
}

.last-container-info {
  margin-top: calc(16px*5);
}

.last-container-info>h5{
  line-height: 40px;
}

#card-info-text {
  line-height: 30px;
}

#access-to-app {
  margin-top: calc(16px*4);
}

@media only screen and (min-width: 1200px) {
  #first, #second { margin-top: calc(16px*3); }
  .box-container-info {
    margin: calc(16px*2) calc(16px*4);
    height: calc(16px*4);
  }
  .last-container-info { margin-top: calc(16px*3); }
  .last-container-info>h5{ line-height: 33px; }
  #access-to-app { margin-top: calc(16px*1);}
  #card-info-text { line-height: 25px; }
}

@media only screen and (min-width: 1300px) {
  #first, #second { margin-top: calc(16px*4); }
  .box-container-info { margin: calc(16px*2) calc(16px*5); }
  .last-container-info { margin-top: calc(16px*4); }
  #access-to-app { margin-top: calc(16px*2);}
}

@media only screen and (min-width: 1600px) {
  #first, #second { margin-top: calc(16px*4); }
  .box-container-info { margin: calc(16px*4) calc(16px*9); }
  .last-container-info>h5{ line-height: 40px; }
  #access-to-app { margin-top: calc(16px*2);}
  #card-info-text { line-height: 30px; }

}

@media only screen and (min-width: 1900px) {
  .box-container-info { margin: calc(16px*5) calc(16px*12)}
}

