h1,h2,h3,h4,h5,h6,p,.row {
  margin: 0;
  padding: 0;
}

.container-icon {
  margin: 2em 0;
}

.text-hello {
  font-size: 2em;
  line-height: 110%;
}

.username-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container-username {
  margin-top: 5%;
}
