<div class="col s3 m2">
    <img src="../../../assets/media/img/movements/{{account}}.png" alt="{{account}}" class="imgMovement">
</div>
<div class="col s3 m2 hide-on-small-only">
    <p>{{ date }}</p>
</div>
<div class="col s3 m2">
    <p class="truncate">{{ description }}</p>
</div>
<div class="col s3 m2">
    <p>{{ category }}</p>
</div>
<div class="col s3 m2" [ngClass]="{'green-text': type === 'DEPOSIT', 'red-text': type === 'CHARGE'}">
    <p><strong>$ </strong>{{ amount }}</p>
</div>
<div class="col s3 m2 hide-on-small-only">
    <p>{{ considerar }}</p>
</div>