.img-width-30 {
  width: 30%;
  margin: 3% 0;
}

.navbar {
  width: 75%;
  margin-top: 23px;
}

.fill-main-color {
  fill: #17307b;
}

.fill-accent-color {
  fill: #2bc2fd;
}

.fill-light-color {
  fill: var(--light-color);
}

.square {
  fill-rule: evenodd;
}

@media only screen and (max-width: 600px) {
  .width-access { width: 50vw; }
}

@media only screen and (min-width: 601px) and ( max-width: 992px ) {
  .width-access { width: 30vw; }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .login { width: 40%; margin: 2% 0; }
  .navbar { width: 90%; margin-top: 15%; }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .login { width: 45%; margin: 2% 0;}
  .navbar { width: 80%; margin-top: 15%; }
}

@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  .login { width: 45%; margin: 2% 0;}
  .navbar { width: 95%; margin-top: 15%; }
}
