<li [routerLink]='["/app/credentials/"+manualAccount.id]' class="valign-wrapper hoverable collection-item pointer">
    <div class="col m2 hide-on-small-only center">
      <img id="institutionLogo" [src]="'assets/media/img/manual_account/' + manualAccount.nature + '.svg'" 
        onerror="this.src='/assets/media/img/manual_account/ma_cash.svg'">
    </div>

    <div class="col s8 m6">
      <h6><b>{{ manualAccount.name }}</b></h6>
      <small>Actualizada: {{ manualAccount.lastUpdated | date:'dd/MMM/yy'}}</small>
    </div>

    <div class="col m4">
      <p id="balanceAmount" class="right-align" [ngStyle]="{'color': manualAccount.balance > 0 ? 'green' : 'red' }"><b>${{ manualAccount.balance | number: '1.2-2' }}</b></p>
    </div>
</li>
