.a,.b,.e,.y{fill:#fff;}
.b{font-size:15px;}
.b,.e,.f{font-family:Ubuntu;}
.c,.h{fill:#00c3ff;}
.ac,.c,.g{font-family:Ubuntu-Bold, Ubuntu;}
.ac,.c,.g,.y{font-weight:700;}
.d{fill:#b0b6c7;}
.e{font-weight:400;}
.f{fill:#5d688c;font-size:13px;}
.ab,.g,.m{fill:#23328c;}
.i{clip-path:url(#a);}
.j{opacity:0.35;}
.aa,.ag,.k,.l,.n,.o{fill:none;}
.k{stroke:#feca46;}
.ab,.k,.l{stroke-miterlimit:10;}
.k,.l{stroke-width:3.864px;}
.l{stroke:#127ac6;}.n{stroke:#f75757;stroke-width:3.091px;}
.aa,.ag,.n,.o{stroke-linecap:round;stroke-linejoin:round;}
.aa,.ag,.o{stroke:#fff;}.o{stroke-width:3.438px;}
.p{fill:url(#b);}
.q{fill:url(#c);}
.r{fill:url(#d);}
.s{fill:url(#e);}
.t{fill:url(#f);}
.u{fill:url(#g);}
.v{fill:url(#h);}
.w{fill:url(#i);}
.x{fill:url(#j);}
.y{font-size:3.196px;font-family:DINCondensed-Bold, DIN Condensed;letter-spacing:0.02em;}
.z{font-size:3.609px;}
.aa{stroke-width:0.773px;}
.ab{stroke:#23328c;stroke-width:0.386px;font-size:11.042px;font-family:Ubuntu-Light, Ubuntu;font-weight:300;letter-spacing:0.05em;}
.ad{fill:#ffad44;}
.ae{fill:#f75757;}
.af{fill:#fb824e;}
.ag{stroke-width:4.573px;stroke-dasharray:0.152 9.146;}

@media only screen and (min-width: 1201px) {
  .credit-card-security{ width: 75%; }
}

@media only screen and (min-width: 1359px) {
  .credit-card-security{ width: 70%; }
}

@media only screen and (min-width: 1800px) {
  .credit-card-security{ width: 80%; }
}
