<div class="center-align">
  <h3>Conectando con</h3>
  <img src="assets/media/img/social_media/{{from}}.png" alt="{{from}}" class="responsive-img socialNetwork-img">
  <br>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
