<div class="container-fluid">
  <div class="row" id="barChartContainer">
    <div *ngIf="!dataReady" class="row">
      <div class="col s12 center">
          <app-spinner></app-spinner>
      </div>
    </div>
    <div *ngIf="dataReady" class="col s12 center">
      <ngx-charts-bar-vertical-stacked
        [scheme]="colorScheme"
        [results]="dataForBarCharts"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [barPadding]="barPadding"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-stacked>
    </div>
  </div>
</div>
