<cdk-virtual-scroll-viewport itemSize="25" class="scroll-viewport" id="virtualScroll">
  <mat-accordion class="collapsible">
    <div *cdkVirtualFor="let movement of movementList; let i = index; trackBy: trackByFn">
      <div (keydown)="handleSpacebar($event)">
        <mat-expansion-panel [id]="movement.id" class="fadeIn fast" (afterExpand)="movement.editAvailable = true" (afterCollapse)="movement.editAvailable = false;"
                             #matExpansionPanel >
          <mat-expansion-panel-header class="collapsible-header" [ngClass]="{'grey lighten-3': movement.duplicated}"
                                      (click)="expandPanel(matExpansionPanel, $event, i)">
            <mat-panel-title>
              <app-item class="item" [categoryList]="categoryList" [movement]="movement"> </app-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-item-detail class="item-detail" [movement]="movement"
                             (statusCancel)="collapsibleCancel(i)" (status)="collapsibleClose(i)"
                             (statusDelete)="deleteMovement(i)">
            </app-item-detail>
          </ng-template>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-accordion>
  <div class="spinnerContainer">
    <div class="center-align" *ngIf="spinnerBoolean">
      <app-spinner></app-spinner>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
