.item, .item-detail {
  width: 100%;
}

li, li.active {
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(238, 136, 58, .8);
  transition: all .3s ease-in-out;
}

li.active {
  border-left-width: 4px;
}

.collapsible-header {
  padding: 0%;
  transition: all .2s ease-in-out;
}

.collapsible-header:hover {
  border-color: rgba(238, 136, 58, .8);
  border-width: 2px;
  color:  rgba(238, 136, 58, .8);
}

li.active > .collapsible-header:hover{
  color: #212121;
}
