.item {
  width: 100%;
}

.collapsible-header {
  padding: 2px;
  transition: border 200ms, color 200ms;
  transition-timing-function:  ease-in-out;
}

.collapsible-header:hover {
    border-color: var(--accent-color);
    border-width: 2px;
    color: var(--accent-color);
}

.spinnerContainer {
  margin-top: 1%;
}

@media only screen and (min-width: 1024px) {
  .scroll-viewport {
    height: 68vh;
  }
}

@media only screen and (min-width: 1600px) {
  .scroll-viewport {
    height: 74vh;
  }
}

@media only screen and (min-width: 1920px) {
  .scroll-viewport {
    height: 77vh;
  }
}
