<ul class="collapsible" #collapsible>
    <ng-template ngFor [ngForOf]="movementList" [ngForTrackBy]="trackByFn" let-movement let-i="index">
        <li class="fast fadeIn list" id="MovementList">
            <!-- Encabezado del collapsible -->
            <div class="collapsible-header" [ngClass]="{'grey lighten-2': movement.duplicated}" (click)="collapsibleOpen(i)">
                <app-item class="item" [categoryList]="categoryList" [movement]="movementList[i]" (movementEdited)="movement=$event" (statusModal)="statusModal=$event">
                </app-item>
            </div>
            <div class="collapsible-body">
                <app-item-detail class="item-detail" [movement]="movement" (status)="collapsibleClose(i)" (statusDelete)="movementList.splice(i, 1)">
                </app-item-detail>
            </div>
        </li>
    </ng-template>
</ul>