<ng-container *ngIf="categories; else elseSpinner">
  <div class="container-fluid row categories-list-row">
    <ng-container *ngIf="stateCategories; else stateSubcategory">
      <!-- Componente para categorías -->
      <app-category-item class="fast fadeIn" [categories]="categories" (indexCategory)="filterCategory($event)"></app-category-item>
    </ng-container>
    <ng-template #stateSubcategory>
      <!-- Componente para sub-categorías -->
      <app-subcategory-item class="fast fadeIn" [category]="category" [(statusCategory)]="statusCategory"></app-subcategory-item>
    </ng-template>
  </div>
</ng-container>
<ng-template #elseSpinner>
  <app-spinner></app-spinner>
</ng-template>
