.pt-15 {
	padding-top: 20px;
}

.totalAmountP {
	padding-left: 42px;
}

.amountBalance {
	text-align: right;
}

.collapsible-body {
	padding: 1rem;
}

.collapsible-body .row {
	margin-bottom: 10px;
	border-bottom: 1px solid #18537b;
}

#simulateCollapsible {
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

#simulateCollapsible i {
	width: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 1rem;
}

.collapsible p {
	position: relative;
	width: 50%;
	margin: 0px 0px;
}
