<div class="row pt-15">
  <div class="col s10 offset-s1 m6 offset-m3">
    <ul class="collapsible" #collapsible>
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
          <p>Débito y efectivo</p>
          <p class="amountBalance"
             [style.color]="(actives >= 0) ? 'green' : 'red'">
            <b>${{ actives | number: '1.2-2' }}</b>
          </p>
        </div>
        <div class="collapsible-body">
          <ul>
            <li *ngFor="let active of activeList">
              <div class="row valign-wrapper">
                <div *ngIf="active.institution.name != 'Dinerio'; else maAccount" class="col s8">
                    <b>{{ active.institution.name }}</b><br>
                    <small>{{ active.name }}</small>
                </div>
                <ng-template #maAccount>
                  <div class="col s8">
                      <b>{{ active.name }}</b><br>
                      <small>{{ active.institution.name }}</small>
                  </div>
                </ng-template>
                <div class="col s4 amountBalance" [style.color]="(active.balance >= 0) ? 'green' : 'red'">
                  ${{ active.balance | number:'1.2-2'}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
          <p>Tarjeta de crédito y deuda</p>
          <p class="amountBalance" [style.color]="(passives >= 0) ? 'green' : 'red'">
            <b>${{ passives | number: '1.2-2' }}</b>
          </p>
        </div>
        <div class="collapsible-body">
          <ul>
            <li *ngFor="let credit of passiveList">
              <div class="row valign-wrapper">

                  <div *ngIf="credit.institution.name != 'Dinerio'; else maAccount" class="col s8">
                      <b>{{ credit.institution.name }}</b><br>
                      <small>{{ credit.name }}</small>
                  </div>
                  <ng-template #maAccount>
                    <div class="col s8">
                        <b>{{ credit.name }}</b><br>
                        <small>{{ credit.institution.name }}</small>
                    </div>
                  </ng-template>
                <div class="col s4 amountBalance" [style.color]="(credit.balance >= 0) ? 'green' : 'red'">
                  ${{ credit.balance | number:'1.2-2' }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div id="simulateCollapsible">
            <p class="totalAmountP"><b>Saldo a corto plazo</b></p>
            <p class="amountBalance" [style.color]="(shortTerm > 0) ? 'green' : 'red'">
              <b>${{ shortTerm | number: '1.2-2' }}</b>
            </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
          <p>Inversiones</p>
          <p class="amountBalance" [style.color]="(investments >= 0) ? 'green' : 'red'">
            <b>${{ investments | number: '1.2-2' }}</b>
          </p>
        </div>
        <div class="collapsible-body">
          <ul>
            <li *ngFor="let investment of investmentList">
              <div class="row">
                  <div *ngIf="investment.institution.name != 'Dinerio'; else maAccount" class="col s8">
                      <b>{{ investment.institution.name }}</b><br>
                      <small>{{ investment.name }}</small>
                  </div>
                  <ng-template #maAccount>
                    <div class="col s8">
                        <b>{{ investment.name }}</b><br>
                        <small>{{ investment.institution.name }}</small>
                    </div>
                  </ng-template>
                <div class="col s4 amountBalance" [style.color]="(investment.balance >= 0) ? 'green' : 'red'">
                  ${{ investment.balance | number:'1.2-2' }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">expand_more</i>
          <p>Créditos</p>
          <p class="amountBalance" [style.color]="(credits >= 0) ? 'green' : 'red'"><b>${{ credits | number:'1.2-2' }}</b></p>
        </div>
        <div class="collapsible-body">
            <ul>
                <li *ngFor="let credit of creditList">
                  <div class="row">
                      <div *ngIf="credit.institution.name != 'Dinerio'; else maAccount" class="col s8">
                          <b>{{ credit.institution.name }}</b><br>
                          <small>{{ credit.name }}</small>
                      </div>
                      <ng-template #maAccount>
                        <div class="col s8">
                            <b>{{ credit.name }}</b><br>
                            <small>{{ credit.institution.name }}</small>
                        </div>
                      </ng-template>
                    <div class="col s4 amountBalance" [style.color]="(credit.balance >= 0) ? 'green' : 'red'">
                      ${{ credit.balance | number:'1.2-2' }}
                    </div>
                  </div>
                </li>
              </ul>
        </div>
      </li>
      <li>
        <div id="simulateCollapsible">
            <p class="totalAmountP"><b>Saldo a largo plazo</b></p>
            <p class="amountBalance" [style.color]="(longTerm >= 0) ? 'green' : 'red'">
              <b>${{ longTerm | number:'1.2-2' }}</b>
            </p>
        </div>
      </li>
      <li>
        <div id="simulateCollapsible">
            <p class="totalAmountP"><b>Patrimonio Neto</b></p>
            <p class="amountBalance" [style.color]="(balance >= 0) ? 'green' : 'red'">
              <b>${{ balance | number:'1.2-2' }}</b>
            </p>
        </div>
      </li>
    </ul>
  </div>
</div>
