<div class="container-fluid">
  <div *ngIf="dataReady" class="row">
    <div id="barChartContainer" class="col s10 offset-s1 center">
      <ngx-charts-bar-vertical-stacked
        [scheme]="colorScheme"
        [results]="dataForBarCharts"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [barPadding]="barPadding"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-stacked>
    </div>
  </div>
</div>