<div class="card light-background">
  <div class="card-content">
    <div class="row">
      <div class="col s12 m7 card-content-inside center-align">
        <div class="hide-on-med-and-up show-on-small center-align">
          <app-finerio-icon [svgClasses]="'widthImage'"></app-finerio-icon>
        </div>
        <h6>Regístrate, y comienza a tomar el control de tu dinero.</h6>
        <app-social-media [facebookText]="'Continuar con Facebook'" [googleText]="'Continuar con Google'">
        </app-social-media>
        <hr>
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <form [formGroup]="signupData" (ngSubmit)="signup()" method="POST" id="createUser">
              <div class="input-field">
                <input required formControlName="email" name="email" class="form-control validate" id="email-input"
                  type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <label for="email-input">Correo Electrónico</label>
                <span class="helper-text" data-error="Correo Inválido">Ej. contacto@finerio.mx</span>
              </div>
              <div class="input-field">
                <input required formControlName="password" name="password" minlength="8" class="validate form-control"
                  id="password-input" type="password">
                <label for="password-input">Contraseña</label>
                <span class="helper-text" data-error="La contraseña debe contener al menos 8 caracteres"></span>
              </div>
              <div class="input-field">
                <input required formControlName="passwordConfirm" name="confirmPassword" class="form-control"
                  id="confirm-input" (keyup)="passwordMatch()" type="password">
                <label for="confirm-input">Confirmar contraseña</label>
                <span id="passwordError" *ngIf="!passwordValidate">Las contraseñas no coinciden</span>
              </div>
              <div class="left-align">
                <div class="input-field">
                  <p>
                    <label>
                      <input name="blog" type="checkbox" class="filled-in" checked="checked" id="checkbox-blog"
                        formControlName="blog" />
                      <span>Acepto suscribirme al (mejor) blog de finanzas personales</span>
                    </label>
                  </p>
                </div>
                <div class="center-align">
                  <div *ngIf="isButtonAvailable; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                    <app-spinner></app-spinner>
                  </ng-template>
                  <ng-template #elseBlock>
                    <button [disabled]="!signupData.valid" class="btn finerio-main-color white-text" type="submit"
                      id="btnCreateUser" name="action">Enviar
                      <i class="material-icons right">send</i>
                    </button>
                  </ng-template>
                </div>
              </div>
            </form>
            <p id="terms"><small>Al pulsar el botón “enviar”, estás aceptando expresamente nuestros <a target="_blank"
                  href="https://finerio.mx/terms">términos y condiciones</a> y nuestro <a target="_blank"
                  href="https://finerio.mx/privacy">aviso de privacidad</a></small></p>
            <div class="login-container">
              <p>¿Ya tienes cuenta en Finerio?</p>
              <a class="waves-effect waves-teal btn finerio-accent-outline-color" routerLink="/access/login">Iniciar
                Sesión</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col hide-on-small-only m5 logo-signup">
        <div class="card-content-inside">
          <div class="center-align">
            <app-finerio-icon [svgClasses]="'widthImage'"></app-finerio-icon>
            <h3>Finerio</h3>
          </div>
          <hr>
          <div class="row">
            <div class="col m10 offset-m1">
              <div class="information-signup">
                <h6><b>Vincula tus tarjetas y controla tus gastos, en un solo lugar.</b></h6>
                <ul>
                  <li class="information-point">Clasifica tus gastos.</li>
                  <li class="information-point">Crea tus presupuestos y controla tus gastos.</li>
                  <li class="information-point">Vincula tus cuentas bancarias.</li>
                  <li class="information-point">Toda tu información financiera en un sólo lugar.</li>
                  <li class="information-point">Gratis.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>