<div class="row">
    <div class="col s12 m7 l6 offset-l1">
        <h5 class="center">Regístrate, y comienza a tomar el control de tu dinero.</h5>
        <div class="row center socialBtn">
            <div class="col s12">
                <app-social-media [facebookText]="'Ingresar con Facebook'" [googleText]="'Ingresar con Google'"></app-social-media>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8 offset-l2">
                <form #signupForm="ngForm" (ngSubmit)="signup(signupForm)" method="POST">
                    <div class="input-field">
                        <input ngModel name="email" class="form-control" id="email-input" type="email" class="validate" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                        <label for="email-input">Correo Electrónico</label>
                        <span class="helper-text" data-error="Correo Inválido" data-success="Correo Válido">Ej. contacto@finerio.mx</span>
                    </div>
                    <div class="input-field">
                        <input ngModel name="password" minlength="8" class="form-control" id="password-input" type="password" class="validate">
                        <label for="password-input">Contraseña</label>
                        <span class="helper-text" data-error="Contraseña Inválida (mínimo 8 caracteres)" data-success="Constraseña Valida"></span>
                    </div>
                    <div class="input-field">
                        <input ngModel name="confirmPassword" minlength="8" class="form-control" id="confirm-input" type="password" class="validate">
                        <label for="confirm-input">Confirmar contraseña</label>
                        <span class="helper-text" data-error="Las contraseñas no coinciden" data-success="Constraseña Valida"></span>
                    </div>
                    <span id="errorSpan"></span>
                    <div class="row pt-15">
                        <p>
                            <label>
                                <input name="blog" type="checkbox" class="filled-in" checked="checked" id="checkbox-blog" ngModel />
                                <span>Acepto subscribirme al blog de finanzas personales</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="termsAndConditions" type="checkbox" class="filled-in" checked="checked" id="checkbox-terms" ngModel />
                                <span>Acepto los términos y condiciones</span>
                            </label>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-s6 center pt-15">
                            <button class="btn waves-effect waves-blue finerio-blue white-text" type="submit" name="action">Entrar
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col-s6 center pt-15">
                            <a class="waves-effect waves-teal btn-flat" routerLink="/access/login">Iniciar Sesión</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col m4 offset-m1" id="tips-col">
        <div class="row center">
            <h6><b>Vincula tus tarjetas y controla tus gastos, en un solo lugar.</b></h6>
            <p>Clasifica tus gastos.</p>
            <p>Crea tus presupuestos y controla tus gastos.</p>
            <p>Vincula tus cuentas bancarias.</p>
            <p>Toda tu información financiera en un sólo lugar.</p>
            <p>Gratis.</p>
        </div>
    </div>
</div>