.socialBtn{
	border-bottom: 2px solid #e48d2b;
}

#checkbox-blog:checked+label::after{
    border: 2px solid red!important;
    background-color: red!important;
}	

.d-none{
	display: none;
}

.pt-15{
	padding-top: 15px;
}

#passwordError{
	color: red;
	font-size: 12px;
}

#termsError{
	color: red;
	font-size: 12px;
}

#tips-col h6, p{
	padding-top: 30px;
	margin: 10px!important;
	font-size: 20px;
}

.input-field{
	margin-bottom: 2rem;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after{
	border: 2px solid #e48d2b;
    background-color: #e48d2b;
}

@media screen and (max-width: 600px){
	#tips-col{
		display: none;
	}
}