/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/**
 * Variable for all the project
 */

:root {
  --main-color: #17307b;
  --accent-color: #2bc2fd;
  --light-color: #F9F7FF;
  --red-color: #c62828;

  /**
    * Custom colors
    * if you need to overwrite the colors, please use custom-color vars.
    *
    * Use them, only IF YOU UNDERSTAND HOW TO OVERWRITE VARS ON CSS.
    *
    * If you need to overwrite a var and it doesnt exist, create one
    *
    * https://www.w3.org/TR/css-variables-1/#using-variables
    * https://medium.freecodecamp.org/everything-you-need-to-know-about-css-variables-c74d922ea855
    */
  --main-custom-color: #17307b;
  --accent-custom-color: #4392c7;
  --light-custom-color: #F9F7FF;

  --paddingPages: 128px;
  --widthAmout: 50%;
  --widthImage: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Ubuntu', sans-serif;
}


/**
 * Main color & accent color
 */

.finerio-main-color {
  background-color: var(--main-color);
  color: var(--light-color);
}

.finerio-accent-color {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.finerio-main-text-color {
  color: var(--main-color);
}

.finerio-accent-text-color {
  color: var(--accent-color);
}

.finerio-main-outline-color{
  background-color: transparent;
  color: var(--main-color);
}

.finerio-main-outline-color:hover {
  background-color: var(--main-color);
  color: var(--light-color);
}

.finerio-accent-outline-color {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.finerio-accent-outline-color:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
}

/**
 * Buttons
 */

a.btn, button.btn, input.btn, .btn {
  transition: background-color 200ms, color 200ms;
  transition-timing-function: ease-in-out;
  border-radius: 20px;
}

/**
 * Buttons w/ main-color
 */
.btn.finerio-main-color {
  background-color: var(--main-color);
  color: var(--light-color);
}

.btn.finerio-main-color:hover {
  --main-custom-color: #152a5d;
  background-color: var(--main-custom-color);
}

/**
 * Buttons w/ accent-color
 */

.btn.finerio-accent-color {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.btn.finerio-accent-color:hover {
  background-color: var(--accent-custom-color);
}

/**
 * Buttons w/ main-outline-color
 */

.btn.finerio-main-outline-color {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn.finerio-main-outline-color:hover {
  background-color: var(--main-color);
  color: var(--light-color);
}

/**
 * Buttons w/ accent-outline-color
 */

.btn.finerio-accent-outline-color {
  background-color: transparent;
  color: black;
  border: 1px solid var(--accent-color);
}

.btn.finerio-accent-outline-color:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
}
/**
 * Button for delete something
 * This classes is used for buttons that have a second priority on the page,
 * if u will used it for third priority, you need to erase the border on components's css
 */

.btn.btn-delete {
  border: 1px solid var(--red-color);
  color: var(--red-color);
  background-color: var(--light-color);
  transition: background-color 200ms, color 200ms;
  transition-timing-function: ease-in-out;
}

.btn.btn-delete:hover {
  color: var(--light-color);
  background-color: var(--red-color);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}


/**
 * Waves
 */

.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color
    of the button to still show through. */
  background-color: var(--main-color);
  opacity: 0.65%;
}

/**
 * Material Icons
 */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/**
 * Cards
 */

.card {
  top: 0;
  left: 0;
  transform: translate(0, 10%);
}

.light-background {
  background-color: rgb(255, 255, 255) !important;
}

.inputMovement {
  border-bottom: none !important;
  height: 100% !important;
}

.tabs .indicator {
  background-color: #2bc2fd !important;
  height: 5px;
}

.collection {
  border: 0px solid #e0e0e0 !important;
}

.showPassword {
  margin-top: 3%;
  color: black;
}

[type="checkbox"].filled-in:checked+span.showPassword:not(.lever):after{
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.spinnerPosition {
  position: relative;
  top: 15rem;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 1px 0 0 var(--accent-color);
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: var(--accent-color);
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.datepicker-modal {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.mat-expansion-indicator {
  margin-right: 1%;
  margin-left: -3%;
  padding: 10px;
  cursor: pointer;
}

.mat-expansion-indicator::after{
  padding: 6px;
}

.main-svg {
  width: 3.1333em;
}

.slider .indicators .indicator-item.active {
  background-color: var(--accent-color) !important;
}

@media only screen and (min-width: 601px) {
  .main-svg { width: 55px; margin-top: 8px; }
}

@media only screen and (min-width: 1201px ) and (max-width: 1299px) {
  .card { transform: translate(0); }
  .row { margin: auto;}
  .main-svg { width: 3.1333em; margin-top: 0; }
}

@media only screen and (min-width: 1300px) and (max-width: 1499px) {
  .card { transform: translate(0, 5%); }
  .main { width: 4.1333em; margin-top: 0; }
}

@media only screen and (min-width: 1600px) {
  .datepicker-modal { left: 40% !important; }
  .main-svg { width: 4.1333em; margin-top: 0; }
}

@media only screen and (min-width: 1800px) {
  .main-svg { width: 4.1333em; margin-top: 0; }
}
