<li class="valign-wrapper hoverable collection-item" (click)="goToDetail(credential)">
    <div class="col m2 hide-on-small-only center pointer">
      <img id="institutionLogo"
           src="{{'assets/media/img/banks/shields/'+ credential.institution.code.toLocaleLowerCase() +'_shield.png'}}"
           alt="{{ credential.institution.code }}">
    </div>

    <div class="col s8 m6 pointer">
        <h6><b>{{ credential.institution.name }}</b></h6>
        <small>Actualizada: {{ credential.lastUpdated | date:'dd/MMM/yy, h:mm a'}}</small>
    </div>

    <div class="col s4 m4 center" id="iconsRow">
      <button *ngIf="showButton "
        (click)="syncButton($event)"
        class="btn transparent black-text" id="syncBtn">
        Sincronizar
      </button>
      <div class="secondary-content valign-wrapper">
        <i [ngClass]="{'rotate': credential.status == 'VALIDATE'}"
          [ngStyle]="{'color': credential.status == 'ACTIVE' ? 'green' : (credential.status =='VALIDATE' ? 'blue' : 'orange' ) }"
          class="material-icons" id="statusIcon">{{ iconText }}</i>
      </div>
    </div>
</li>
