h3 {
  font-size: 6vw;
  line-height: 10vw;
}

.background {
  min-height: 100%;
  background-color: transparent;
  background-image: linear-gradient(to top, #23328c, #213992, #1f4097, #1d469d, #1b4da2, #1656aa, #105fb2, #0a68b9, #0076c4, #0083cf, #0091d9, #099fe2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-logo {
  margin: 10vw 0;
}

.container-text {
  margin-bottom: 8vw;
}

.finni-img, .finni-large-devices {
  position: fixed;
  margin-left: 8vw;
  z-index: 1;
}

.container-QR {
  width: 20vw;
}

@media only screen and (max-width: 360px) {
  .finni-img { width: 80vw; margin-left: 10vw; }
}

@media only screen and (min-width: 361px) and (max-width: 374px) {
  .finni-img { width: 60vw; margin-left: 20vw; }
}

@media only screen and (min-width: 375px) and (max-width: 400px) {
  .finni-img { width: 80vw; margin-left: 10vw; margin-top: 10vw; }
}

@media only screen and (min-width: 401px) and (max-width: 480px) {
  .finni-img { width: 80vw; margin-left: 10vw; margin-top: 20vw; }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .finni-img { width: 80vw; margin-left: 10vw; margin-top: 20vw; }
}

@media only screen and (min-width: 601px) and ( max-width: 760px ) {
  .container-logo { margin: 8vw 0; }
  .finni-img { width: 50vw; margin-left: 23vw; margin-top: 10vw; }
}

@media only screen and (min-width: 761px) and ( max-width: 992px ) {
  .container-logo { margin: 7vw 0; }
  .finni-img { width: 50vw; margin-left: 23vw; margin-top: 10vw; }
}


@media only screen and (min-width: 992px) and ( max-width: 1200px ) {
  h3 { font-size: 2vw; line-height: 4vw; margin-bottom: 0 }
  .container-logo { margin: 3vw 0; }
  .container-text { margin-bottom: 0; }
  .finni-img { width: 50vw; margin-left: 23vw; margin-top: 10vw; }
  .container-QR { width: 15vw; }
  .finni-large-devices { width: 30vw; margin-left: 20vw; margin-top: 20vw;}
}
