<div class="row center">
	<div class="col s12 m6 offset-m3 pb-20">
		<p class="text-center"><b>¡Ingresa tu nueva contaseña!</b></p>
	</div>
	<div class="col s12">
		<form [formGroup]="forgotPasswordGroup" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="password" type="password" formControlName="password" pattern=".{8,}" required>
          <label for="password">Nueva contraseña</label>
				</div>
				<div class="input-field col s6 offset-s3">
          <input id="passwordConfirm" type="password" formControlName="passwordConfirm" pattern=".{8,}" required>
          <label for="passwordConfirm">Confirmar contraseña</label>
          <p *ngIf="showErrorMessage"
							id="spanError">Las contraseñas no coinciden.</p>
        </div>
      </div>
		  <button type="submit" class="btn finerio-blue" [disabled]="!forgotPasswordGroup.valid">Enviar</button>
		</form>
	</div>
</div>
