<div class="card light-background">
  <div class="card-content">
    <div class="center-align container-img">
      <app-finerio-logo [svgClass]="'img-width-30'" [fillMainColor]="'fill-main-color'" [fillAccentColor]="'fill-accent-color'"></app-finerio-logo>
    </div>
    <div *ngIf="!invalidToken && !failedProcess" class="row center">
      <div class="col s12 m6 offset-m3 pb-20">
        <p class="text-center"><b>¡Ingresa tu nueva contaseña!</b></p>
      </div>
      <div class="col s12">
        <form [formGroup]="recoveryPasswordGroup" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <input id="password" type="password" formControlName="password" class="validate" minlength="8" required>
              <label for="password">Nueva contraseña</label>
              <span class="helper-text" data-error="La contraseña debe contener al menos 8 caracteres"></span>
            </div>
            <div class="input-field col s6 offset-s3">
              <input id="passwordConfirm" type="password" formControlName="passwordConfirm" required>
              <label for="passwordConfirm">Confirmar contraseña</label>
              <p *ngIf="showErrorMessage"
                 id="spanError">Las contraseñas no coinciden.</p>
            </div>
          </div>
          <button type="button" class="btn waves-effect waves-blue finerio-accent-outline-color" routerLink="/access/login">Regresar</button>
          <button type="submit" class="btn waves-effect waves-blue finerio-main-color" [disabled]="!recoveryPasswordGroup.valid">Enviar</button>
        </form>
      </div>
    </div>

    <div *ngIf="invalidToken" class="row center">
      <h4 class="pb-20">Este link ya ha expirado</h4>
      <p class="pb-20">El link proporcionado es invalido o ha caducado por favor solicita de nuevo un cambio de contraseña.</p>
      <button [routerLink]="['/access/forgot']" [queryParams]="{link:true}"
              type="button" class="btn finerio-main-color">Aceptar</button>
    </div>

    <div *ngIf="failedProcess" class="row center">
      <h4 class="pb-20">Algo ha pasado...</h4>
      <p class="pb-20"> Ha ocurrido un error y no ha sido posible reestablecer la contraseña, porfavor vuelva a intentarlo. </p>
      <button [routerLink]="['/access/forgot']" type="button" class="btn finerio-main-color">
        Aceptar
      </button>
    </div>
  </div>
</div>
