ul {
	margin: 0px;
}

.manualAccountLi {
	float: left;
}

.manualAccountLi button {
	height: 110px;
	margin: 5px;
	min-width: 190px;
	border-radius: 5px;
}

.manualAccountLi button img {
	width: 50px;
	padding-top: 10px;
}
