<mz-sidenav #sidenav [id]="'sidenav-demo'" [fixed]="true" [width]="'250'">
    <mz-sidenav-collapsible>
        <mz-sidenav-collapsible-header>
            <i mz-icon-mdi [icon]="'menu-right'" class="caret"></i>Collapsible
        </mz-sidenav-collapsible-header>
        <mz-sidenav-collapsible-content>
            <mz-sidenav-link>
                <a href="#" class="waves-effect">First Link</a>
            </mz-sidenav-link>
            <mz-sidenav-link>
                <a href="#" class="waves-effect">Second Link</a>
            </mz-sidenav-link>
        </mz-sidenav-collapsible-content>
    </mz-sidenav-collapsible>
</mz-sidenav>