.collapsible-header {
	padding: 0;
	border-bottom: 1px solid #757575;
}

.containerMovement {
	padding: 0 2%;
}

.containerMovement.firstContainer {
  margin-top: 1%;
}
.spinnerContainer {
  padding: 0 calc(2% + var(--paddingPages));
}

.movementheader {
	padding: 1% 0;
	border: 1px solid #757575;
}

.spinnerLoading {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.mat-expansion-indicator {
  transform: rotate(0deg);
}

.mat-expansion-indicator.active {
  transform: rotate(180deg);
}
