#appleBadge {
  width: 45vw;
}

@media only screen and (max-width: 600px) {
  #appleBadge{ width: 45vw; }
}

@media only screen and (min-width: 601px) and ( max-width: 992px ) {
  #appleBadge{ width: 25vw; }
}
