.nav-wrapper {
  margin: 0px calc(var(--paddingPages) / 2 ) 0px var(--paddingPages);
}

.pages-list { 
  height: 64px;
  line-height: 64px;
  font-size: 16px;
}

#iconLi{
  height: 64px;
}

.icon-list {
  line-height: 64px !important;
  margin-right: 40px;
  margin-left: 16px;
}

.user-list {
  background-color: rgb(29, 56, 86);
}

.user-list:hover {
  background-color: rgb(26, 49, 77)
}

.collapsible-accordion .mdi-chevron-up {
  margin-left: 87px;
  transition: .3s transform ease-in-out;
}

.collapsible-accordion .active .mdi-chevron-up {
  transform: rotate(180deg);
}

#finerio-logo {
  max-width: auto;
  height: 64px;
}

@media only screen and (max-width: 600px) {
  #finerio-logo {
    height: 56px;
  }
}

@media only screen and (max-width: 992px) {
  .nav-wrapper {
    padding-left: 0;
  }
  .pages-list {
    line-height: 56px;
  }
  .icon-list {
    line-height: 56px;
  }
  .brand-logo.center {
    left: 0%;
    margin: 0px var(--paddingPages);
  }
}

@media only screen and (min-width: 993px) {
  #slide-out {
    width: 128px;
  }
  .sidenav {
    margin-top: 64px;
  }
}